@model B2BClasses.Services.Air.mdlSearchResult
@inject ICurrentUsers _currentuser
<div class="widget-box">
    <div class="clearfix form-actions">
        <div class="col-sm-12">

            <div class="col-sm-7">
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="~/AirlinesLogo/@(Model.Segment.FirstOrDefault()?.Airline?.Code).png" />
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                @(Model.Segment.FirstOrDefault()?.Airline?.Name)
                            </div>
                            <div class="row">
                                @(Model.Segment.FirstOrDefault()?.Airline?.FlightNumber)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="seg-details-btn" type="Submit" value="Details">Details +</button>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-4 align-right">
                            <div class="row">
                                @ViewData["FlightFrom"]
                            </div>
                            <div class="row">
                                <b> @Model.Segment.FirstOrDefault()?.DepartureTime.ToString("HH:mm")</b>
                            </div>
                            <div class="row">
                                @Model.Segment.FirstOrDefault()?.DepartureTime.ToString("dd-MMM")
                            </div>
                        </div>
                        <div class="col-sm-4 center stop-arrow">
                            <div class="row">
                                <i class="fa fa-long-arrow-right"><span></span><span></span><span></span></i>
                                @for (int i = 1; i < Model.Segment.Count; i++)
                                {
                                    <i class="fa fa-long-arrow-left"></i>
                                }
                            </div>
                            <div class="row">
                                @(TimeSpan.FromMinutes( Model.Segment.Sum(p=>p.Duration)).Hours) : @(TimeSpan.FromMinutes( Model.Segment.Sum(p=>p.Duration)).Minutes)
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                @ViewData["FlightTo"]
                            </div>
                            <div class="row">
                                <b> @Model.Segment.LastOrDefault()?.ArrivalTime.ToString("HH:mm")</b>
                            </div>
                            <div class="row">
                                @Model.Segment.LastOrDefault()?.ArrivalTime.ToString("dd-MMM")
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="col-sm-12 seg-btnbx">
                    @foreach (var totalpricelist in Model.TotalPriceList)
                    {
                        <div class="row">

                            <label>
                                <input type="radio" name="@ViewBag.JourneyType1" value="@totalpricelist.ResultIndex" data-price="@totalpricelist.TotalPrice" class="ace ace-switch ace-switch-4">
                                <span class="lbl middle"></span>
                                <b>@(totalpricelist.TotalPrice.ToString("C", _currentuser.cultureInfo))</b>
                            </label>
                            <span class="label label-danger arrowed-in">@totalpricelist.ADULT.CabinClass -@totalpricelist.ADULT.ClassOfBooking</span>
                        </div>

                    }

                </div>
            </div>
        </div>

    </div>
</div>