@model B2BClasses.Services.Air.mdlSearchResult
@inject Microsoft.Extensions.Configuration.IConfiguration _Configuration
@{
    System.Globalization.CultureInfo nfi = new System.Globalization.CultureInfo(_Configuration["CultureInfo"], false);
}
<div class="widget-box">
    <div class="clearfix form-actions">
        <div class="col-sm-12">
            @if (ViewBag.JourneyType == 2)
            {
                <label class="pull-right inline">
                    <small class="muted smaller-90">Border:</small>
                    <input id="id-button-borders" type="radio" name="@ViewBag.JourneyType1" value="" class="ace ace-switch ace-switch-5">
                    <span class="lbl middle"></span>
                </label>
            }

            <div class="col-sm-7">
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/AirlinesLogo/@(Model.Segment.FirstOrDefault()?.Airline?.Code).png" />
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                @(Model.Segment.FirstOrDefault()?.Airline?.Name)
                            </div>
                            <div class="row">
                                @(Model.Segment.FirstOrDefault()?.Airline?.FlightNumber)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-info" type="Submit" value="Details">Details</button>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-4 align-right">
                            <div class="row">
                                @ViewData["FlightFrom"]
                            </div>
                            <div class="row">
                                @Model.Segment.FirstOrDefault()?.DepartureTime.ToString("HH:mm")
                            </div>
                            <div class="row">
                                @Model.Segment.FirstOrDefault()?.DepartureTime.ToString("dd-MMM")
                            </div>
                        </div>
                        <div class="col-sm-4 center">
                            <div class="row">
                                <i class="fa fa-arrow-right"></i>
                                @for (int i = 1; i < Model.Segment.Count; i++)
                                {
                                    <i class="fa fa-arrow-from-left"></i>
                                }
                            </div>
                            <div class="row">
                                @(TimeSpan.FromMinutes( Model.Segment.Sum(p=>p.Duration)).Hours) : @(TimeSpan.FromMinutes( Model.Segment.Sum(p=>p.Duration)).Minutes)
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                @ViewData["FlightTo"]
                            </div>
                            <div class="row">
                                @Model.Segment.LastOrDefault()?.ArrivalTime.ToString("HH:mm")
                            </div>
                            <div class="row">
                                @Model.Segment.LastOrDefault()?.ArrivalTime.ToString("dd-MMM")
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-offset-1">
                <div class="col-sm-8">
                    @foreach (var totalpricelist in Model.TotalPriceList)
                    {
                        <div class="row">
                            <input type="radio" name="ResultIndex" value="@totalpricelist.ResultIndex">
                            <label for="ResultIndex">@((  (totalpricelist.ADULT.FareComponent.TotalFare*ViewBag.AdultCount) + (totalpricelist.CHILD.FareComponent.TotalFare* ViewBag.ChildCount) + (totalpricelist.INFANT.FareComponent.TotalFare * ViewBag.InfantCount)).ToString("C", nfi))</label><br>
                        </div>
                        <span class="label label-danger arrowed-in">@totalpricelist.ADULT.CabinClass -@totalpricelist.ADULT.ClassOfBooking</span>
                    }

                </div>

                @if (ViewBag.JourneyType == 1)
                {
                    <div class="col-sm-4">
                        <button class="btn btn-success" id="btnBook" type="submit" name="bookFlight" value="Book">Book</button>
                    </div>
                }

            </div>
        </div>

    </div>
</div>