@model List<B2BClasses.Services.Air.mdlSearchResult>
@inject ICurrentUsers _currentuser
@using Newtonsoft.Json
<!-- Content
        ============================================= -->
<style>

    .fli-list-flight_details__info::before {
        content: '';
        width: 150%;
        border-top: 1px solid #c00f0f;
        position: absolute;
        top: 50%;
        left: -25%;
    }

    .flight_details__infoSctn {
        padding: 1px 0px;
        background-color: #fff;
        border-radius: 100px;
        position: relative;
    }

    .fli-list-flight_details__info {
        background: #fff;
        border-radius: 100px;
        color: #5c5c5c;
        text-align: center;
        border: 1px solid #c00f0f;
        position: relative;
        z-index: 1;
        font-size: 14px;
        width: 70%;
        margin: 0 auto;
    }
</style>
<div class="bg-white shadow-md rounded py-4">
    <div class="mx-3 mb-3 text-center">
        <h2 class="text-6 mb-4">@Model?.FirstOrDefault()?.Segment?.FirstOrDefault()?.Origin?.CityName <small class="mx-2">to</small>@Model?.FirstOrDefault()?.Segment?.LastOrDefault()?.Destination?.CityName</h2>
    </div>
    <div class="text-1 bg-light-3 border border-right-0 border-left-0 py-2 px-3">
        <div class="row">
            <div class="col col-sm-2 text-center">
                <span class="d-none d-sm-block" id="spnairline" onclick="checkfilter(this)" data-id="airline" data-value="asc">Airline <i id="iairline"></i> </span>
            </div>
            <div class="col col-sm-2 text-center" id="spndeparture" style="cursor:default" onclick="checkfilter(this)" data-id="departure" data-value="asc">Departure <i id="ideparture"></i></div>
            <div class="col-sm-2 text-center d-none d-sm-block" style="cursor:default" onclick="checkfilter(this)" id="spnduration" data-id="duration" data-value="asc">Duration <i id="iduration"></i></div>
            <div class="col col-sm-2 text-center" id="spnarrival" style="cursor:default" onclick="checkfilter(this)" data-id="arrival" data-value="asc">Arrival <i id="iarrival"></i></div>
            <div class="col col-sm-2 text-right" id="spnprice" style="cursor:default" onclick="checkfilter(this)" data-id="price" data-value="asc">Price <i id="iprice" class="fas fa-long-arrow-alt-down"></i></div>
        </div>
    </div>
    <div class="flight-list">
        @{int cnt = 0, cntacc = 0;}
        @if (Model.Count > 0)
        {
            @*<input type="hidden" value="@Model.FirstOrDefault().traceid" name="hid_traceid" id="hid_traceid" />*@
            @foreach (var item in Model)
            {

                cnt++;

                <div class="flight-item">
                    <div class="row align-items-center flex-row pt-4 pb-2 px-3">
                        <div class="col col-sm-2 text-center d-lg-flex company-info">
                            <span class="align-middle">
                                <img class="img-fluid" alt="" src="~/AirlinesLogo/@(item.Segment.FirstOrDefault()?.Airline?.Code).png">
                            </span>
                            <span class="align-middle ml-lg-2">
                                <span class="d-block text-1 text-dark spnairlines">@(item.Segment.FirstOrDefault()?.Airline?.Name)</span>
                                <small class="text-muted d-block">@(item.Segment.FirstOrDefault()?.Airline?.FlightNumber)</small>
                            </span>
                        </div>

                        <div class="col col-sm-2 text-center time-info">
                            <span class="text-4">@item.Segment.FirstOrDefault()?.DepartureTime.ToString("HH:mm")</span>


                            <small class="text-muted d-none d-sm-block">@(item.Segment.FirstOrDefault()?.Origin?.CityName)</small>
                        </div>
                        <div class="col-sm-2 text-center d-none d-sm-block time-info">
                            @{ TimeSpan? t1 = (item.Segment.LastOrDefault()?.ArrivalTime - item.Segment.FirstOrDefault()?.DepartureTime);
                                int hour = t1.Value.Hours;
                                int mins = t1.Value.Minutes;
                                <span class="text-3">@hour.ToString("00") : @mins.ToString("00")</span> }
                            @if (item.Segment.Count > 1)
                            {<small class="text-muted d-none d-sm-block spnstop">@(item.Segment.Count - 1) Stop</small><small>
                                    via
                                    @{string depvia = ""; int segcnt = 0; }
                                    @foreach (var via in item.Segment)
                                    {
                                        if (segcnt > 0)
                                        {
                                            depvia = depvia + via.Origin.CityName + ",";
                                        }
                                        segcnt++;
                                    }
                                    @depvia.TrimEnd(',')
                                </small> }
                            else
                            {
                                <small class="text-muted d-none d-sm-block spnstop">Non Stop</small>}

                        </div>
                        <div class="col col-sm-2 text-center time-info">
                            <span class="text-4">@item.Segment.LastOrDefault()?.ArrivalTime.ToString("HH:mm")</span>
                            <small class="text-muted d-none d-sm-block">@(item.Segment.LastOrDefault()?.Destination?.CityName)</small>
                        </div>
                        <div class="col col-sm-2 text-right text-dark text-4 price">
                            @(item.TotalPriceList?.FirstOrDefault().TotalPrice.ToString("C", _currentuser.cultureInfo))

                        </div>
                        <div class="col-12 col-sm-2 text-center ml-auto btn-book">
                            <a class="btn btn-outline-primary" style="padding: .70rem .5rem!important;" data-toggle="collapse" href="#collapseExample-@cnt" role="button" aria-expanded="false" aria-controls="collapseExample-@cnt">
                                View Prices
                            </a>

                        </div>
                        <div class="col-12 col-sm-auto col-lg-2 ml-auto mt-1 text-1 text-center">
                            <a data-toggle="modal" data-target="#flight-@cnt" href="">Flight Details</a>
                        </div>
                        <div class="col-12 col-sm-12 text-center ml-auto btn-book">
                            <div class="collapse" id="collapseExample-@cnt">
                                <div class="card card-body" style="padding:0rem!important;">
                                    <div class="text-1 bg-light-3 border-right-0 border-left-0 py-2 px-3">
                                        <div class="row">
                                            <div class="col col-sm-3 text-left">
                                                <span class="d-none d-sm-block">FARES</span>
                                            </div>
                                            <div class="col col-sm-2 text-left">CABIN BAGGAGE</div>
                                            <div class="col col-sm-2 text-left">CHECK-IN BAGGAGE</div>
                                            @*<div class="col col-sm-2 text-left">SEAT</div>*@
                                            <div class="col col-sm-3 text-left">MEAL</div>
                                        </div>
                                    </div>
                                    @foreach (var totalpricelist in item.TotalPriceList)
                                    {

                                        <div class="fare-item border-bottom">
                                            <div class="row align-items-center flex-row pt-4 pb-2 px-3">
                                                <div class="col col-sm-3 text-center d-lg-flex company-info">
                                                    @totalpricelist.ADULT.CabinClass - @totalpricelist.ADULT.ClassOfBooking
                                                </div>
                                                <div class="col col-sm-2 text-left d-lg-flex text-1">
                                                    @totalpricelist.ADULT.BaggageInformation.CabinBaggage.
                                                </div>
                                                <div class="col col-sm-2 text-left d-lg-flex text-1">
                                                    @totalpricelist.ADULT.BaggageInformation.CheckingBaggage.
                                                </div>
                                                @*<div class="col col-sm-2 text-left d-lg-flex text-1">

                                                        @totalpricelist.FareRule?.FareRule?.fr?.SEAT_CHARGEABLE?.policyInfo
                                                    </div>*@
                                                <div class="col col-sm-3 text-left d-lg-flex text-1">
                                                    @if (totalpricelist.ADULT.IsFreeMeel == true)
                                                    {
                                                        <span>Complimentary meals (No meal will be served if flight duration is less than 2 hours)</span>
                                                    }
                                                    else
                                                    {
                                                        <span>No</span>
                                                    }
                                                </div>
                                                <div class="col col-sm-2 text-center d-lg-flex company-info">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            @totalpricelist.TotalPrice.ToString("C", _currentuser.cultureInfo)
                                                        </div>
                                                        <div class="col-12">
                                                            @if (totalpricelist.ADULT.SeatRemaing > 0)
                                                            {
                                                                <button class="btn btn-sm btn-primary" name='bookFlight' onclick="booking('@totalpricelist.ResultIndex')">
                                                                    <i class="fas fa-shopping-cart d-block d-lg-none"></i>
                                                                    <span class="d-none d-lg-block">Book</span>
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-sm btn-primary" name='bookFlight' onclick="nobooking('@totalpricelist.ResultIndex')">
                                                                    <i class="fas fa-shopping-cart d-block d-lg-none"></i>
                                                                    <span class="d-none d-lg-block">Book</span>
                                                                </button>
                                                            }
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Flight Details Modal Dialog
                    ============================================= -->
                    <div id="flight-@cnt" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Flight Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <div class="modal-body">
                                    <div class="flight-details">
                                        <div class="row mb-4">
                                            <div class="col-12 col-sm-9 col-lg-8">
                                                <div class="row align-items-center trip-title mb-3">
                                                    <div class="col col-sm-auto text-center text-sm-left">
                                                        <h5 class="m-0 trip-place">@item.Segment?.FirstOrDefault()?.Origin?.CityName</h5>
                                                    </div>
                                                    <div class="col-auto text-10 text-black-50 text-center trip-arrow">➝</div>
                                                    <div class="col col-sm-auto text-center text-sm-left">
                                                        <h5 class="m-0 trip-place">@item.Segment?.LastOrDefault()?.Destination?.CityName</h5>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col col-sm-auto"><span class="text-4"> @item.Segment.FirstOrDefault()?.DepartureTime.ToString("dd-MMM-yyyy")</span></div>
                                                    <div class="col-auto">
                                                        @if (item.TotalPriceList?.FirstOrDefault()?.ADULT?.RefundableType == 0)
                                                        {
                                                            <span class="badge badge-danger py-1 px-2 font-weight-normal text-1">Non Refundable</span> }
                                                        else if (item.TotalPriceList?.FirstOrDefault()?.ADULT?.RefundableType == 1)
                                                        {
                                                            <span class="badge badge-success py-1 px-2 font-weight-normal text-1">Refundable</span> }
                                                        else
                                                        {
                                                            <span class="badge badge-info py-1 px-2 font-weight-normal text-1">Partial Refundable</span>}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <hr />
                                        <div class="accordion" id="accordionDefault">
                                            @{int acccnt = 0; string coll = "collapse"; string acclass = "";}
                                            @foreach (var totp in item.TotalPriceList)
                                            {
                                                if (acccnt == 0)
                                                {
                                                    coll = "collapse show";
                                                    acclass = "";
                                                }
                                                else
                                                {
                                                    coll = "collapse";
                                                    acclass = "collapsed";
                                                }
                                                <div class="card">
                                                    <div class="card-header" id="headingOne-@cntacc">
                                                        <h5 class="mb-0">
                                                            <a href="#" data-toggle="collapse" data-target="#collapseOne-@cntacc" aria-expanded="true" aria-controls="collapseOne-@cntacc" class="@acclass">
                                                                @totp.ADULT?.CabinClass-@totp.ADULT?.ClassOfBooking
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseOne-@cntacc" style="max-height:400px;overflow:auto" class="@coll" aria-labelledby="headingOne-@cntacc" data-parent="#accordionDefault">
                                                        <div class="card-body">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <span class="text-dark text-4">@(totp.TotalPrice.ToString("C", _currentuser.cultureInfo)) </span>
                                                                        <span class="text-1 text-muted d-block">(Per Adult)</span>

                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        @if (totp.ADULT?.SeatRemaing > 10)
                                                                        {
                                                                            <span class="text-1 text-info d-block">@(totp.ADULT?.SeatRemaing) seat(s) left</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="text-1 text-danger d-block">@(totp.ADULT?.SeatRemaing) seat(s) left</span>
                                                                        }
                                                                    </div>
                                                                    <div class="col-md-2 btn-book">
                                                                        @if (totp.ADULT?.SeatRemaing > 0)
                                                                        {
                                                                            <button class="btn btn-sm btn-primary" name='bookFlight' onclick="booking('@totp.ResultIndex')">
                                                                                <i class="fas fa-shopping-cart d-block d-lg-none"></i>
                                                                                <span class="d-none d-lg-block">Book</span>
                                                                            </button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button class="btn btn-sm btn-primary" name='bookFlight' disabled onclick="nobooking('@totp.ResultIndex')">
                                                                                <i class="fas fa-shopping-cart d-block d-lg-none"></i>
                                                                                <span class="d-none d-lg-block">Book</span>
                                                                            </button>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul class="nav nav-tabs" id="myTab-@cntacc" role="tablist">
                                                                <li class="nav-item"> <a class="nav-link active" id="first-tab-@cntacc" data-toggle="tab" href="#first-@cntacc" role="tab" aria-controls="first-@cntacc" aria-selected="true">Itinerary</a> </li>
                                                                <li class="nav-item"> <a class="nav-link" id="second-tab-@cntacc" data-toggle="tab" href="#second-@cntacc" role="tab" aria-controls="second-@cntacc" aria-selected="false">Fare Details</a> </li>
                                                                <li class="nav-item"> <a class="nav-link" id="third-tab-@cntacc" data-toggle="tab" href="#third-@cntacc" role="tab" aria-controls="third-@cntacc" aria-selected="false">Baggage Details</a> </li>
                                                                @*<li class="nav-item"> <a class="nav-link" id="fourth-tab-@cntacc" data-toggle="tab" href="#fourth-@cntacc" role="tab" aria-controls="fourth-@cntacc" aria-selected="false">Cancellation</a> </li>
                                                                    <li class="nav-item"> <a class="nav-link" id="fifth-tab-@cntacc" data-toggle="tab" href="#fifth-@cntacc" role="tab" aria-controls="fifth-@cntacc" aria-selected="false">Date Change</a> </li>*@
                                                            </ul>
                                                            <div class="tab-content my-3" id="myTabContent-@cntacc">
                                                                <div class="tab-pane fade show active" id="first-@cntacc" role="tabpanel" aria-labelledby="first-tab-@cntacc">

                                                                    @for (int i = 0; i < item.Segment.Count; i++)
                                                                    {
                                                                        if (i > 0)
                                                                        {
                                                                            <div class="fli-list-flight_details__info clearfix mb-4">
                                                                                <div class="flight_details__infoSctn">

                                                                                    <span>
                                                                                        @{ TimeSpan? ts2 = item.Segment[i]?.DepartureTime - item.Segment[i - 1]?.ArrivalTime;
                                                                                            string h2 = ts2.Value.Hours.ToString("00");
                                                                                            string m2 = ts2.Value.Minutes.ToString("00");
                                                                                        }
                                                                                        Technical Stopover | @h2 h:@m2 m in @item.Segment[i]?.Origin?.CityName
                                                                                    </span>

                                                                                </div>

                                                                            </div>
                                                                        }
                                                                        <div class="row flex-row pt-4 px-md-4">
                                                                            <div class="col-12 col-sm-3 text-center d-lg-flex company-info">
                                                                                <span class="align-middle">
                                                                                    <img class="img-fluid" alt="" src="~/AirlinesLogo/@(item.Segment[i]?.Airline?.Code).png">
                                                                                </span> <span class="align-middle ml-lg-2">
                                                                                    <span class="d-block text-1 text-dark">@(item.Segment[i]?.Airline?.Name)</span>
                                                                                    <small class="text-muted d-block"> @(item.Segment[i]?.Airline?.FlightNumber)</small>
                                                                                </span>
                                                                            </div>
                                                                            <div class="col-12 col-sm-3 text-center time-info mt-3 mt-sm-0">
                                                                                <span class="text-5 text-dark">@item.Segment[i]?.DepartureTime.ToString("HH:mm")</span>
                                                                                <small class="text-muted d-block">@(item.Segment[i]?.Origin?.AirportName), @(item.Segment[i]?.Origin?.CityName)</small>
                                                                            </div>
                                                                            <div class="col-12 col-sm-3 text-center time-info mt-3 mt-sm-0">
                                                                                @{ TimeSpan? ts = item.Segment[i]?.ArrivalTime - item.Segment[i]?.DepartureTime;
                                                                                    int h = ts.Value.Hours;
                                                                                    int m = ts.Value.Minutes;
                                                                                    <span class="text-3 text-dark">@h.ToString("00") : @m.ToString("00")</span> }


                                                                                <small class="text-muted d-block">Duration</small>
                                                                            </div>
                                                                            <div class="col-12 col-sm-3 text-center time-info mt-3 mt-sm-0">
                                                                                <span class="text-5 text-dark">@item.Segment[i]?.ArrivalTime.ToString("HH:mm")</span>
                                                                                <small class="text-muted d-block">@(item.Segment[i]?.Destination?.AirportName), @(item.Segment[i]?.Destination?.CityName)</small>
                                                                            </div>

                                                                        </div>
                                                                    }



                                                                </div>
                                                                <div class="tab-pane fade" id="second-@cntacc" role="tabpanel" aria-labelledby="second-tab-@cntacc">
                                                                    <div class="table-responsive-md">
                                                                        <table class="table table-hover table-bordered">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Base Fare</td>
                                                                                    <td class="text-right">@totp?.BaseFare</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Fees &amp; Surcharge</td>
                                                                                    <td class="text-right">
                                                                                        @{double? totfees = 0;
                                                                                            totfees = @totp?.TotalPrice - @totp?.BaseFare; }
                                                                                        @totfees
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Total</td>
                                                                                    <td class="text-right">@totp?.TotalPrice</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane fade" id="third-@cntacc" role="tabpanel" aria-labelledby="third-tab-@cntacc">
                                                                    <div class="table-responsive-md">
                                                                        <table class="table table-hover table-bordered">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>&nbsp;</th>
                                                                                    <td class="text-center">Cabin</td>
                                                                                    <td class="text-center">Check-In</td>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Adult</td>
                                                                                    <td class="text-center">@totp?.ADULT?.BaggageInformation?.CabinBaggage </td>
                                                                                    <td class="text-center">@totp?.ADULT?.BaggageInformation?.CheckingBaggage </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Child</td>
                                                                                    <td class="text-center">@totp?.ADULT?.BaggageInformation?.CabinBaggage </td>
                                                                                    <td class="text-center">@totp?.ADULT?.BaggageInformation?.CheckingBaggage </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Infant</td>
                                                                                    <td class="text-center">0 Kg</td>
                                                                                    <td class="text-center">0 Kg</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                @*<div class="tab-pane fade" id="fourth-@cntacc" role="tabpanel" aria-labelledby="fourth-tab-@cntacc">
                                                                        Cancellation Fee: @totp.FareRule.FareRule?.fr?.CANCELLATION?.amount @totp.FareRule.FareRule?.fr?.CANCELLATION?.policyInfo.Replace("__nls__", "")
                                                                    </div>
                                                                    <div class="tab-pane fade" id="fifth-@cnt" role="tabpanel" aria-labelledby="fifth-tab-@cnt">
                                                                        Date Change Fee: @totp.FareRule.FareRule?.fr?.DATECHANGE?.amount @totp.FareRule.FareRule?.fr?.DATECHANGE?.policyInfo.Replace("__nls__", "")
                                                                    </div>*@
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                acccnt++;
                                                cntacc++;
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Flight Details Modal Dialog end -->
                </div>
            }
        }
        else
        {
            <div class="flight-item">
                <div class="row align-items-center flex-row pt-4 pb-2 px-3">
                    <div class="col col-sm-12 text-center d-lg-flex company-info">
                      No Flight available.
                    </div>
                </div>
            </div>
        }


    </div>

</div>

<!-- Content end -->

<script>
    function nobooking(obj) {
        toastr.warning('No seat remaining!');
    }
    function booking(obj) {
        debugger;
        var resultInde = '';
        var resultInde1 = obj;
        if (resultInde1 == null || resultInde1 == undefined) {
            toastr.info('Select Flight');
            return;
        }
        else {
            resultInde = resultInde1;
            $("#FareQuoteRequestResultIndex1").val(resultInde1);
        }
        var resultInde2 = '';
        var traceid = $('#FareQuoteRequestTraceId').val();
        //$("#FareQuoteRequestTraceId").val(traceid);
        $("#FareQuoteRequestResultIndex2").val(resultInde2);
        resultInde = resultInde1 + "," + resultInde2;
        $("#frmFlightReview").submit();
    }


</script>
