@model List<B2BClasses.Services.Air.mdlSearchResult>
@inject ICurrentUsers _currentuser
@using Newtonsoft.Json
<!-- Content
        ============================================= -->
<div id="content">
    <section class="container">

        <div class="row">
            <aside class="col-md-3">
                <div class="bg-white shadow-md rounded p-3">
                    <h3 class="text-5">Filter</h3>
                    <hr class="mx-n3">
                    <div class="accordion accordion-alternate style-2 mt-n3" id="toggleAlternate">
                        <div class="card">
                            <div class="card-header" id="stops">
                                <h5 class="mb-0">
                                    <a href="#" data-toggle="collapse" data-target="#togglestops" aria-expanded="true" aria-controls="togglestops">No. of Stops</a>
                                </h5>
                            </div>
                            <div id="togglestops" class="collapse show" aria-labelledby="stops">
                                <div class="card-body">
                                    @{int nonstop = 0;
                                        nonstop = Model.Where(x => x.Segment.Count() == 1).Count();
                                        int onestop = 0;
                                        onestop = Model.Where(x => x.Segment.Count() == 2).Count();
                                        int multistop = 0;
                                        multistop = Model.Where(x => x.Segment.Count() > 2).Count(); }
                                    @if (nonstop > 0)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="nonstop" name="stop" value="Non Stop" onclick="checkfilter()" class="custom-control-input">
                                            <label class="custom-control-label" for="nonstop">
                                                Non Stop (@nonstop)
                                            </label>
                                        </div>}
                                    @if (onestop > 0)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="1stop" value="1 Stop" name="stop" onclick="checkfilter()" class="custom-control-input">
                                            <label class="custom-control-label" for="1stop">1 Stop (@onestop)</label>
                                        </div>}
                                    @if (multistop > 0)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="2stop" value="Many Stop" name="stop" onclick="checkfilter()" class="custom-control-input">
                                            <label class="custom-control-label" for="2stop">2+ Stop (@multistop)</label>
                                        </div>}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="departureTime">
                                <h5 class="mb-0"> <a href="#" class="collapse" data-toggle="collapse" data-target="#toggleDepartureTime" aria-expanded="true" aria-controls="toggleDepartureTime">Departure Time</a> </h5>
                            </div>
                            <div id="toggleDepartureTime" class="collapse show" aria-labelledby="departureTime">
                                <div class="card-body">
                                    <div class="custom-control custom-checkbox clearfix">
                                        <input type="checkbox" id="earlyMorning" name="departureTime" class="custom-control-input">
                                        <label class="custom-control-label" for="earlyMorning">Early Morning</label>
                                        <small class="text-muted float-right">12am - 8am</small>
                                    </div>
                                    <div class="custom-control custom-checkbox clearfix">
                                        <input type="checkbox" id="morning" name="departureTime" class="custom-control-input">
                                        <label class="custom-control-label" for="morning">Morning</label>
                                        <small class="text-muted float-right">8am - 12pm</small>
                                    </div>
                                    <div class="custom-control custom-checkbox clearfix">
                                        <input type="checkbox" id="midDay" name="departureTime" class="custom-control-input">
                                        <label class="custom-control-label" for="midDay">Mid-Day</label>
                                        <small class="text-muted float-right">12pm - 4pm</small>
                                    </div>
                                    <div class="custom-control custom-checkbox clearfix">
                                        <input type="checkbox" id="evening" name="departureTime" class="custom-control-input">
                                        <label class="custom-control-label" for="evening">Evening</label>
                                        <small class="text-muted float-right">4pm - 8pm</small>
                                    </div>
                                    <div class="custom-control custom-checkbox clearfix">
                                        <input type="checkbox" id="night" name="departureTime" class="custom-control-input">
                                        <label class="custom-control-label" for="night">Night</label>
                                        <small class="text-muted float-right">8pm - 12am</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="price">
                                <h5 class="mb-0">
                                    <a href="#" class="collapse" data-toggle="collapse" data-target="#togglePrice" aria-expanded="true" aria-controls="togglePrice">Price</a>
                                </h5>
                            </div>
                            <div id="togglePrice" class="collapse show" aria-labelledby="price">
                                <div class="card-body">
                                    <p>
                                        <input id="amount" type="text" readonly class="form-control border-0 bg-transparent p-0">
                                    </p>
                                    <div id="slider-range"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="airlines">
                                <h5 class="mb-0"> <a href="#" class="collapse" data-toggle="collapse" data-target="#toggleAirlines" aria-expanded="true" aria-controls="toggleAirlines">Airlines</a> </h5>
                            </div>
                            <div id="toggleAirlines" class="collapse show" aria-labelledby="airlines">
                                <div class="card-body">
                                    @foreach (var item in Model.Select(x => x.Segment.FirstOrDefault()?.Airline?.Name).Distinct())
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="@item" name="airlines" class="custom-control-input">
                                            <label class="custom-control-label" for="asianaAir">@item</label>
                                        </div>

                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="col-md-9 mt-4 mt-md-0">
                <div class="bg-white shadow-md rounded py-4">
                    <div class="mx-3 mb-3 text-center">
                        <h2 class="text-6 mb-4">@Model?.FirstOrDefault()?.Segment?.FirstOrDefault()?.Origin?.CityName <small class="mx-2">to</small>@Model?.FirstOrDefault()?.Segment?.LastOrDefault()?.Destination?.CityName</h2>
                    </div>
                    <div class="text-1 bg-light-3 border border-right-0 border-left-0 py-2 px-3">
                        <div class="row">
                            <div class="col col-sm-2 text-center">
                                <span class="d-none d-sm-block">Airline</span>
                            </div>
                            <div class="col col-sm-2 text-center">Departure</div>
                            <div class="col-sm-2 text-center d-none d-sm-block">Duration</div>
                            <div class="col col-sm-2 text-center">Arrival</div>
                            <div class="col col-sm-2 text-right">Price</div>
                        </div>
                    </div>
                    <div class="flight-list">
                        @{int cnt = 0;}
                        @foreach (var item in Model.Distinct())
                        {
                            cnt++;
                            <input type="hidden" value="@item.traceid" name="hid_traceid" id="hid_traceid" />
                            <div class="flight-item">
                                <div class="row align-items-center flex-row pt-4 pb-2 px-3">
                                    <div class="col col-sm-2 text-center d-lg-flex company-info">
                                        <span class="align-middle">
                                            <img class="img-fluid" alt="" src="~/AirlinesLogo/@(item.Segment.FirstOrDefault()?.Airline?.Code).png">
                                        </span>
                                        <span class="align-middle ml-lg-2">
                                            <span class="d-block text-1 text-dark">@(item.Segment.FirstOrDefault()?.Airline?.Name)</span>
                                            <small class="text-muted d-block">@(item.Segment.FirstOrDefault()?.Airline?.FlightNumber)</small>
                                        </span>
                                    </div>

                                    <div class="col col-sm-2 text-center time-info">
                                        <span class="text-4">@item.Segment.FirstOrDefault()?.DepartureTime.ToString("HH:mm")</span>
                                        <small class="text-muted d-none d-sm-block">@(item.Segment.FirstOrDefault()?.Origin?.CityName)</small>
                                    </div>
                                    <div class="col-sm-2 text-center d-none d-sm-block time-info">
                                        @{ TimeSpan? t1 = (item.Segment.LastOrDefault()?.ArrivalTime - item.Segment.FirstOrDefault()?.DepartureTime);
                                            int hour = t1.Value.Hours;
                                            int mins = t1.Value.Minutes;
                                            <span class="text-3">@hour.ToString("00") : @mins.ToString("00")</span> }
                                        @if (item.Segment.Count > 1)
                                        {<small class="text-muted d-none d-sm-block spnstop">@(item.Segment.Count - 1) Stop</small> }
                                        else
                                        {
                                            <small class="text-muted d-none d-sm-block spnstop">Non Stop</small>}

                                    </div>
                                    <div class="col col-sm-2 text-center time-info">
                                        <span class="text-4">@item.Segment.LastOrDefault()?.ArrivalTime.ToString("HH:mm")</span>
                                        <small class="text-muted d-none d-sm-block">@(item.Segment.LastOrDefault()?.Destination?.CityName)</small>
                                    </div>
                                    <div class="col col-sm-2 text-right text-dark text-4 price">
                                        @(item.TotalPriceList?.FirstOrDefault().TotalPrice.ToString("C", _currentuser.cultureInfo))

                                    </div>
                                    <div class="col-12 col-sm-2 text-center ml-auto btn-book">
                                        <a class="btn btn-outline-primary" style="padding: .70rem .5rem!important;" data-toggle="collapse" href="#collapseExample-@cnt" role="button" aria-expanded="false" aria-controls="collapseExample-@cnt">
                                            View Prices
                                        </a>

                                    </div>
                                    <div class="col-12 col-sm-auto col-lg-2 ml-auto mt-1 text-1 text-center">
                                        <a data-toggle="modal" data-target="#flight-@cnt" href="">Flight Details</a>
                                    </div>
                                    <div class="col-12 col-sm-12 text-center ml-auto btn-book">
                                        <div class="collapse" id="collapseExample-@cnt">
                                            <div class="card card-body" style="padding:0rem!important;">
                                                <div class="text-1 bg-light-3 border-right-0 border-left-0 py-2 px-3">
                                                    <div class="row">
                                                        <div class="col col-sm-2 text-left">
                                                            <span class="d-none d-sm-block">FARES</span>
                                                        </div>
                                                        <div class="col col-sm-2 text-left">CANCELLATION</div>
                                                        <div class="col col-sm-2 text-left">DATE CHANGE</div>
                                                        <div class="col col-sm-2 text-left">SEAT</div>
                                                        <div class="col col-sm-2 text-left">MEAL</div>
                                                    </div>
                                                </div>
                                                @foreach (var totalpricelist in item.TotalPriceList)
                                                {
                                                    <div class="fare-item border-bottom">
                                                        <div class="row align-items-center flex-row pt-4 pb-2 px-3">
                                                            <div class="col col-sm-2 text-center d-lg-flex company-info">
                                                                @totalpricelist.ADULT.CabinClass - @totalpricelist.ADULT.ClassOfBooking
                                                            </div>
                                                            <div class="col col-sm-2 text-left d-lg-flex text-1">
                                                                Cancellation Fee @totalpricelist.FareRule?.FareRule?.fr?.CANCELLATION?.amount
                                                                @totalpricelist.FareRule?.FareRule?.fr?.CANCELLATION?.policyInfo.Replace("__nls__", " ")
                                                            </div>
                                                            <div class="col col-sm-2 text-left d-lg-flex text-1">
                                                                Datechange Fee @totalpricelist.FareRule?.FareRule?.fr?.DATECHANGE?.amount
                                                                @totalpricelist.FareRule?.FareRule?.fr?.DATECHANGE?.policyInfo.Replace("__nls__", " ")
                                                            </div>
                                                            <div class="col col-sm-2 text-left d-lg-flex text-1">

                                                                @totalpricelist.FareRule?.FareRule?.fr?.SEAT_CHARGEABLE?.policyInfo
                                                            </div>
                                                            <div class="col col-sm-2 text-left d-lg-flex text-1">
                                                                @if (totalpricelist.FareRule?.FareRule?.isML == true)
                                                                {
                                                                    <span>Complimentary meals (No meal will be served if flight duration is less than 2 hours)</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>No</span>
                                                                }
                                                            </div>
                                                            <div class="col col-sm-2 text-center d-lg-flex company-info">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        @totalpricelist.TotalPrice.ToString("C", _currentuser.cultureInfo)
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <a href="booking-flights-confirm-details.html" class="btn btn-sm btn-primary">
                                                                            <i class="fas fa-shopping-cart d-block d-lg-none"></i>
                                                                            <span class="d-none d-lg-block">Book</span>
                                                                        </a>
                                                                    </div>
                                                                    </div>

                                                                   
                                                                </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Flight Details Modal Dialog
                                ============================================= -->
                                <div id="flight-@cnt" class="modal fade" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Flight Details</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="flight-details">
                                                    <div class="row mb-4">
                                                        <div class="col-12 col-sm-9 col-lg-8">
                                                            <div class="row align-items-center trip-title mb-3">
                                                                <div class="col col-sm-auto text-center text-sm-left">
                                                                    <h5 class="m-0 trip-place">@item.Segment?.FirstOrDefault()?.Origin?.CityName</h5>
                                                                </div>
                                                                <div class="col-auto text-10 text-black-50 text-center trip-arrow">➝</div>
                                                                <div class="col col-sm-auto text-center text-sm-left">
                                                                    <h5 class="m-0 trip-place">@item.Segment?.LastOrDefault()?.Destination?.CityName</h5>
                                                                </div>
                                                            </div>
                                                            <div class="row align-items-center">
                                                                <div class="col col-sm-auto"><span class="text-4"> @item.Segment.FirstOrDefault()?.DepartureTime.ToString("dd-MMM")</span></div>
                                                                <div class="col-auto">
                                                                    @if (item.TotalPriceList?.FirstOrDefault()?.ADULT?.RefundableType == 0)
                                                                    {
                                                                        <span class="badge badge-danger py-1 px-2 font-weight-normal text-1">Non Refundable</span> }
                                                                    else if (item.TotalPriceList?.FirstOrDefault()?.ADULT?.RefundableType == 1)
                                                                    {
                                                                        <span class="badge badge-success py-1 px-2 font-weight-normal text-1">Refundable</span> }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-info py-1 px-2 font-weight-normal text-1">Partial Refundable</span>}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-3 col-lg-2 text-center text-sm-right mt-3 mt-sm-0">
                                                            <span class="text-dark text-7">@(item.TotalPriceList?.FirstOrDefault().TotalPrice.ToString("C", _currentuser.cultureInfo)) </span>
                                                            <span class="text-1 text-muted d-block">(Per Adult)</span>
                                                            <span class="text-1 text-danger d-block">@(item.TotalPriceList?.FirstOrDefault()?.ADULT?.SeatRemaing) seat(s) left</span>
                                                        </div>
                                                        <div class="col-12 col-sm-3 col-lg-2 text-right ml-auto btn-book">
                                                            <a href="booking-flights-confirm-details.html" class="btn btn-sm btn-primary">
                                                                <i class="fas fa-shopping-cart d-block d-lg-none"></i>
                                                                <span class="d-none d-lg-block">Book</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <ul class="nav nav-tabs" id="myTab-@cnt" role="tablist">
                                                        <li class="nav-item"> <a class="nav-link active" id="first-tab-@cnt" data-toggle="tab" href="#first-@cnt" role="tab" aria-controls="first-@cnt" aria-selected="true">Itinerary</a> </li>
                                                        <li class="nav-item"> <a class="nav-link" id="second-tab-@cnt" data-toggle="tab" href="#second-@cnt" role="tab" aria-controls="second-@cnt" aria-selected="false">Fare Details</a> </li>
                                                        <li class="nav-item"> <a class="nav-link" id="third-tab-@cnt" data-toggle="tab" href="#third-@cnt" role="tab" aria-controls="third-@cnt" aria-selected="false">Baggage Details</a> </li>
                                                        <li class="nav-item"> <a class="nav-link" id="fourth-tab-@cnt" data-toggle="tab" href="#fourth-@cnt" role="tab" aria-controls="fourth-@cnt" aria-selected="false">Cancellation</a> </li>
                                                        <li class="nav-item"> <a class="nav-link" id="fifth-tab-@cnt" data-toggle="tab" href="#fifth-@cnt" role="tab" aria-controls="fifth-@cnt" aria-selected="false">Date Change</a> </li>
                                                    </ul>
                                                    <div class="tab-content my-3" id="myTabContent-@cnt">
                                                        <div class="tab-pane fade show active" id="first-@cnt" role="tabpanel" aria-labelledby="first-tab-@cnt">
                                                            <div class="row flex-row pt-4 px-md-4">
                                                                <div class="col-12 col-sm-3 text-center d-lg-flex company-info">
                                                                    <span class="align-middle">
                                                                        <img class="img-fluid" alt="" src="~/AirlinesLogo/@(item.Segment.FirstOrDefault()?.Airline?.Code).png">
                                                                    </span> <span class="align-middle ml-lg-2">
                                                                        <span class="d-block text-1 text-dark">@(item.Segment.FirstOrDefault()?.Airline?.Name)</span>
                                                                        <small class="text-muted d-block"> @(item.Segment.FirstOrDefault()?.Airline?.FlightNumber)</small>
                                                                    </span>
                                                                </div>
                                                                <div class="col-12 col-sm-3 text-center time-info mt-3 mt-sm-0">
                                                                    <span class="text-5 text-dark">@item.Segment.FirstOrDefault()?.DepartureTime.ToString("HH:mm")</span>
                                                                    <small class="text-muted d-block">@(item.Segment.LastOrDefault()?.Origin?.AirportName), @(item.Segment.FirstOrDefault()?.Origin?.CityName)</small>
                                                                </div>
                                                                <div class="col-12 col-sm-3 text-center time-info mt-3 mt-sm-0">

                                                                    <span class="text-3 text-dark">@hour.ToString("00") : @mins.ToString("00")</span>

                                                                    <small class="text-muted d-block">Duration</small>
                                                                </div>
                                                                <div class="col-12 col-sm-3 text-center time-info mt-3 mt-sm-0">
                                                                    <span class="text-5 text-dark">@item.Segment.FirstOrDefault()?.ArrivalTime.ToString("HH:mm")</span>
                                                                    <small class="text-muted d-block">@(item.Segment.LastOrDefault()?.Destination?.AirportName), @(item.Segment.LastOrDefault()?.Destination?.CityName)</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="second-@cnt" role="tabpanel" aria-labelledby="second-tab-@cnt">
                                                            <div class="table-responsive-md">
                                                                <table class="table table-hover table-bordered">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Base Fare</td>
                                                                            <td class="text-right">@item.TotalPriceList?.FirstOrDefault()?.BaseFare</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Fees &amp; Surcharge</td>
                                                                            <td class="text-right">
                                                                                @{double? totfees = 0;
                                                                                    totfees = item.TotalPriceList?.FirstOrDefault()?.TotalPrice - item.TotalPriceList?.FirstOrDefault()?.BaseFare; }
                                                                                @totfees
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Total</td>
                                                                            <td class="text-right">@item.TotalPriceList?.FirstOrDefault()?.TotalPrice</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="third-@cnt" role="tabpanel" aria-labelledby="third-tab-@cnt">
                                                            <div class="table-responsive-md">
                                                                <table class="table table-hover table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>&nbsp;</th>
                                                                            <td class="text-center">Cabin</td>
                                                                            <td class="text-center">Check-In</td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Adult</td>
                                                                            <td class="text-center">@item.TotalPriceList?.FirstOrDefault()?.ADULT?.BaggageInformation?.CabinBaggage Kg</td>
                                                                            <td class="text-center">@item.TotalPriceList?.FirstOrDefault()?.ADULT?.BaggageInformation?.CheckingBaggage Kg</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Child</td>
                                                                            <td class="text-center">@item.TotalPriceList?.FirstOrDefault()?.ADULT?.BaggageInformation?.CabinBaggage Kg</td>
                                                                            <td class="text-center">@item.TotalPriceList?.FirstOrDefault()?.ADULT?.BaggageInformation?.CheckingBaggage Kg</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Infant</td>
                                                                            <td class="text-center">0 Kg</td>
                                                                            <td class="text-center">0 Kg</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="fourth-@cnt" role="tabpanel" aria-labelledby="fourth-tab-@cnt">
                                                            <table class="table table-hover table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>&nbsp;</th>
                                                                        <td class="text-center">Per Passenger Fee</td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>24 hrs - 365 days</td>
                                                                        <td class="text-center">$960</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2-24 hours</td>
                                                                        <td class="text-center">$350 + $50</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>0-2 hours</td>
                                                                        <td class="text-center">$550 + $50</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <p class="font-weight-bold">Terms & Conditions</p>
                                                            <ul>
                                                                <li>The penalty is subject to 4 hrs before departure. No Changes are allowed after that.</li>
                                                                <li>The charges are per passenger per sector.</li>
                                                                <li>Partial cancellation is not allowed on tickets booked under special discounted fares.</li>
                                                                <li>In case of no-show or ticket not cancelled within the stipulated time, only statutory taxes are refundable subject to Service Fee.</li>
                                                                <li>No Baggage Allowance for Infants</li>
                                                                <li>Airline penalty needs to be reconfirmed prior to any amendments or cancellation.</li>
                                                            </ul>
                                                        </div>
                                                        <div class="tab-pane fade" id="fifth-@cnt" role="tabpanel" aria-labelledby="fifth-tab-@cnt">
                                                            <table class="table table-hover table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>&nbsp;</th>
                                                                        <td class="text-center">Per Passenger Fee</td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>24 hrs - 365 days</td>
                                                                        <td class="text-center">$960</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2-24 hours</td>
                                                                        <td class="text-center">$350 + $50</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>0-2 hours</td>
                                                                        <td class="text-center">$550 + $50</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <p class="font-weight-bold">Terms & Conditions</p>
                                                            <ul>
                                                                <li>The penalty is subject to 4 hrs before departure. No Changes are allowed after that.</li>
                                                                <li>The charges are per passenger per sector.</li>
                                                                <li>Partial cancellation is not allowed on tickets booked under special discounted fares.</li>
                                                                <li>In case of no-show or ticket not cancelled within the stipulated time, only statutory taxes are refundable subject to Service Fee.</li>
                                                                <li>No Baggage Allowance for Infants</li>
                                                                <li>Airline penalty needs to be reconfirmed prior to any amendments or cancellation.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Flight Details Modal Dialog end -->
                            </div>}


                    </div>



                </div>
            </div>
        </div>
    </section>
</div>
<!-- Content end -->
<script>
    function checkfilter() {
        var chknonstop = $("#nonstop").prop('checked');
        var chkstop = $("#1stop").prop('checked');
        var chkmultistop = $("#2stop").prop('checked');
        var nonstop = "", onestop = "", multistop = "";
        if (chknonstop == true || chkstop == true || chkmultistop == true) {
            if (chknonstop == true) {
                nonstop = 'Non Stop';
            }
            if (chkstop == true) {
                onestop = '1 Stop';
            }
            if (chkmultistop == true) {
                multistop = 'Multi Stop';
            }
            $('.flight-item').each(function () {
                debugger;
                let val = $(this).find(".spnstop").text();
                if (val == nonstop || val == onestop) {
                    $(this).show();
                }
                else if (chkmultistop == true) {
                    if (val != "Non Stop" && val != "1 Stop") {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                }
                else {
                    $(this).hide();
                }
            });
        }
        else {
            $('.flight-item').each(function () {

                    $(this).show();

            });
        }
    }
    function nonstopclick() {

        var chkds = $("input[name='stop']:checkbox");
        if (chkds.not(":checked").length != 3)  {
            $('[name="stop"]').each(function () {
                debugger;

                var chkval = $(this).val();
                if ($(this).prop('checked') == true) {


                }


            });
        }
        else {
            $('.flight-item').each(function () {

                    $(this).show();

            });
        }
        }

        function stopclick2(obj1, obj2) {

                $('.flight-item').each(function () {
                    let val = $(this).find(".spnstop").text();
                    if (val != 'Non Stop') {
                        $(this).hide();
                    }

                });

        //if (obj1 == 1) {

        //    $(".flight-item .time-info .spnstop").not(":contains('non stop')").hide();
        //}
        @*debugger;
       // var allFormData = obj2.serialize();
        var obj =@Html.Raw(Json.Serialize(Model));


            jQuery.ajax({

            type: "POST",
            async: true,
            url: "/Wing/NewFlightSearchFilter",
            data: { 'type': 1, 'condition': obj1, 'model': obj },
            dataType: "html",
            beforeSend: function () {
                $('#ajaxloading').show();
            },
            complete: function () {

                // Hide image container
                $("#ajaxloading").hide();
            },
            success: function (data) {

                $('#lstflight').empty();
                $('#lstflight').html(data); // data came back ok, so display it
            }
        });*@
    }
</script>