@model WingGateway.Models.mdlTcPANReportWraper
@using Database;
@inject Database.ICurrentUsers _currentUsers
@{
    ViewData["Title"] = Database.enmDocumentMaster.Emp_Tc_PANDetails.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
                @await Html.PartialAsync("_TcApproval", Model.FilterModel)
            </div>
            <div class="card-body">
                <table id="tblPANDetails" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="display:none">Edit</th>                            
                            <th>ID</th>
                            <th style="width:200px">Name</th>
                            <th style="width:200px">Name (as on PAN)</th>
                            <th>PAN No.</th>
                            <th>Status</th>
                            <th style="width:200px">Remarks</th>

                            <th style="width:150px">Requested Date</th>
                            <th style="width:150px">Action Date</th>
                            <th >Action By</th>
                            <th style="width:150px">Action Remarks</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.TcPANWrapers.Count(); i++)
                        {
                        <tr>

                            <td style="display:none"><a href="javascript:DoPost(@Model.TcPANWrapers[i].TcId)" data-toggle="tooltip" title="Edit Record !"><i class="nav-icon fas fa-edit"></i></a></td>
                            <td>@Model.TcPANWrapers[i].TcId</td>
                            <td>@Model.TcPANWrapers[i].TcName</td>
                            <td>@Model.TcPANWrapers[i].TcNameasonPAN</td>
                            <td>@Model.TcPANWrapers[i].TcPANNo</td>
                            <td>
                                <span class=" @(Model.TcPANWrapers[i].IsApproved== enmApprovalType.Approved?"text-success":
                                Model.TcPANWrapers[i].IsApproved== enmApprovalType.Rejected?"text-danger":"text-info")">
                                    <a href="javascript:DoPostApproval('@Model.TcPANWrapers[i].TcId')" data-toggle="tooltip" title="Edit Record !">
                                        @Model.TcPANWrapers[i].IsApproved
                                     </a>
                                </span>
                            </td>
                            <td>@Model.TcPANWrapers[i].Remarks</td>

                            <td>@(Model.TcPANWrapers[i].RequestDate.ToString("dd-MMM-yyyy hh:mm tt"))</td>
                            <td>@(Model.TcPANWrapers[i].ApprovedDt?.ToString("dd-MMM-yyyy hh:mm tt"))</td>
                            <td>@(Model.TcPANWrapers[i].ApproverName??"")</td>
                            <td>@(Model.TcPANWrapers[i].ApprovalRemarks??"")</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<form name="updateData" action="@(enmDocumentMaster.Emp_Tc_PANUpdate.GetDocumentDetails().ActionName)" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="idFilter.TcId" id="tcId1" />
    <input type="hidden" name="submitdata" value="@(enmLoadData.ByID)" />
</form>
<form name="approveData" action="@(enmDocumentMaster.Emp_Tc_PANApproval.GetDocumentDetails().ActionName)" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="TcId" id="tcId2" />
    <input type="hidden" name="submitdata" value="LoadData" />
</form>


@section Scripts {
    <script>
    function DoPost(id) {
        document.getElementById("tcId1").value = id;
        document.forms["updateData"].submit();
        }
        function DoPostApproval(id) {
            document.getElementById("tcId2").value = id;
            document.forms["approveData"].submit();
        }

    $(document).ready(function () {
        $("#tblPANDetails").DataTable({ "ajax":null});
    });
    </script>

}