@model WingGateway.Models.mdlTcBankWraper 


@using Database
@{
    ViewData["Title"] = Database.enmDocumentMaster.Emp_Tc_BankApproval.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">

            <form action="@Url.Action()" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>

                @if (Model.IsApproved == null)
                {
                    <div class="card card-white">
                        <div class="card-header">
                            <h3 class="card-title">@Database.enmDocumentMaster.Emp_Tc_BankDetails.GetDocumentDetails().Name (@enmApprovalType.Pending)</h3>
                        </div>
                    </div>
                }
                @if (Model.IsApproved == enmApprovalType.Pending)
                {
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">@Database.enmDocumentMaster.Emp_Tc_BankDetails.GetDocumentDetails().Name (@enmApprovalType.InProcessing)</h3>
                        </div>
                    </div>
                }
                @if (Model.IsApproved == enmApprovalType.Approved)
                {
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">@Database.enmDocumentMaster.Emp_Tc_BankDetails.GetDocumentDetails().Name (@enmApprovalType.Approved)</h3>
                        </div>
                    </div>
                }
                @if (Model.IsApproved == enmApprovalType.Rejected)
                {
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">@Database.enmDocumentMaster.Emp_Tc_BankDetails.GetDocumentDetails().Name (@enmApprovalType.Rejected)</h3>
                        </div>
                    </div>
                }



            <div class="card-body">

                <input asp-for="DetailId" type="hidden" />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <label asp-for="TcId" class="col-md-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="TcId" class="form-control" placeholder="TcId" required />
                                    <span asp-validation-for="TcId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                     </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" name="submitdata" value="LoadData" class="btn btn-primary">Load Data</button>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="BankId"></label>
                            <input asp-for="TcBankName" class="form-control" placeholder="Bank Name" readonly data-val="false" />                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IFSC"></label>
                            <input asp-for="IFSC" class="form-control" placeholder="IFSC" readonly data-val="false"/>
                            <span asp-validation-for="IFSC" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AccountNo"></label>
                            <input asp-for="AccountNo" class="form-control" placeholder="Account No." readonly  data-val="false"/>
                            <span asp-validation-for="AccountNo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NameasonBank"></label>
                            <input asp-for="NameasonBank" class="form-control" placeholder="Please enter Name (as on bank passbook)" readonly data-val="false"/>
                            <span asp-validation-for="NameasonBank" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="BranchAddress"></label>
                            <input asp-for="BranchAddress" class="form-control" placeholder="Branch Address" readonly data-val="false"/>
                            <span asp-validation-for="BranchAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Remarks"></label>
                            <input asp-for="Remarks" class="form-control" placeholder="Remarks" readonly />
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IsApproved"></label>
                            <input asp-for="IsApproved" class="form-control" readonly/>
                            <span asp-validation-for="IsApproved" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ApprovalRemarks"></label>
                            <input asp-for="ApprovalRemarks" class="form-control" placeholder="Remarks" />
                            <span asp-validation-for="ApprovalRemarks" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.fileData != null)
                        {
                            @foreach (var fileD in Model.fileData)
                            {
                                if (fileD != null)
                                {
                                    <div class="form-group col-md-4">
                                        <img src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(fileD))" height="300px" width="100%" />
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>



            </div>
            <div class="card-footer">
                @if (Model.IsApproved == enmApprovalType.Pending)
                {
                    <button type="submit" name="submitdata" value="Approve" class="btn btn-success">Approve</button>
                    <button type="submit" name="submitdata" value="Reject" class="btn btn-danger">&nbsp;Reject&nbsp;</button>
                }

            </div>
        </form>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>
}