@model mdlAddCustomerUser

@using B2BClasses.Services.Enums

<div>
    <div class="row">
        <div class="col-md-12">
            <!-- PAGE CONTENT BEGINS -->
            <form action="@Url.Action()" method="post">

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CustomerID"></label>
                            <select asp-for="CustomerID" class="form-control select2" asp-items="ViewBag.CustomerCodeList">
                            </select>
                            <span asp-validation-for="CustomerID" class="text-danger"></span>


                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-info" type="submit" name="submittype" value="LoadData">Load Data</button>
                           </div>
                        </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Status"></label>
                                    <select asp-for="Status" class="form-control select2">

                                        <option value="true">Active</option>
                                        <option value="false">De-Active</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>


                                </div>
                            </div>


                        </div>




                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>


                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button class="btn btn-info" type="submit">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            Submit
                                        </button>

                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn" type="reset">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                <input type="hidden" asp-for="userid" />
</form>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline card-outline-tabs">

                <div class="card-body">
                    <table id="tblUserDetails" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Edit</th>
                                <th>Customer Name (Code)</th>
                                <th>User Name</th>
                                <th>Password</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            

                            @for (int i = 0; i < (Model.UserMasters?.Count??0); i++)
                            {
                            <tr>
                                <td>
                                    <a href="/Customer/AddUser/@Model.UserMasters[i].Id" class="btn btn-info" data-toggle="tooltip" title="Edit Record !">
                                        Edit
                                    </a>
                                    </td>
                                <td>@Model.UserMasters[i].tblCustomerMaster.CustomerName (@Model.UserMasters[i].tblCustomerMaster.Code)</td>
                                <td>@Model.UserMasters[i].UserName</td>
                                <td>@Model.UserMasters[i].Password</td>
                                <td>@(Model.UserMasters[i].IsActive==true?"Active":"DeActive")</td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tblUserDetails").DataTable({ "ajax": null });
        });
    </script>
}