@model B2bApplication.Models.mdlPaymentRequest
@using B2BClasses.Services.Enums
@{
    ViewData["Title"] = enmDocumentMaster.CreditApproval.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <!-- PAGE CONTENT BEGINS -->
        <form action="@Url.Action()" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @Html.AntiForgeryToken()
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">@ViewData["Title"]</h4>
                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Status"></label>
                                    <select asp-for="Status" class="form-control select2">
                                        <option value="@((int)enmApprovalStatus.Approved)"> @enmApprovalStatus.Approved.ToString()</option>
                                        <option value="@((int)enmApprovalStatus.Reject)"> @enmApprovalStatus.Reject.ToString()</option>

                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>


                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Remarks"></label>
                                    <input asp-for="Remarks" class="form-control" placeholder="Approval/Rejection Remarks" />
                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="clearfix">
                            <div class="pull-right tableTools-container"></div>
                        </div>
                        <div class="table-header">
                            Results for "Pending Request"
                        </div>

                        <!-- div.table-responsive -->
                        <!-- div.dataTables_borderWrap -->
                        <div>
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>Request Type</th>
                                        <th>Customer Name - Code</th>
                                        <th>Requested Amount</th>
                                        <th>Request DateTime</th>
                                        <th>Remarks</th>
                                        <th>Document</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @*@foreach (var md in Model.PaymentRequestList)*@
                                    @for (int i = 0; i < @Model.PaymentRequestList.Count; i++)
                                    {
                                        <tr>
                                            <td class="center">
                                                <label class="pos-rel">
                                                    <input type="checkbox" class="ace" asp-for="@Model.PaymentRequestList[i].paymentrequestid" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                            <td>
                                                @Model.PaymentRequestList[i].RequestType
                                            </td>
                                            <td>
                                                @Model.PaymentRequestList[i].CustomerName -  @Model.PaymentRequestList[i].Code
                                                <input type="hidden" asp-for="@Model.PaymentRequestList[i].Id" />

                                            </td>
                                            <td>
                                                @Model.PaymentRequestList[i].RequestedAmt
                                            </td>

                                            <td>
                                                @Model.PaymentRequestList[i].CreatedDt.ToString("dd-MMM-yyyy hh:mm tt")
                                            </td>

                                            <td>
                                                @Model.PaymentRequestList[i].CreatedRemarks
                                            </td>

                                            <td>
                                                <a href="@Model.PaymentRequestList[i].UploadImages">View Document</a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @if (Model.fileData != null)
                {

                    foreach (var fileD in Model.fileData)

                    {
                        if (fileD != null)
                        {
                            <div class="form-group col-md-4">
                                <img src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(fileD))" height="300px" width="100%" />
                            </div>
                        }
                    }
                }
        </form>
    </div>
</div>



@section Scripts {


    @await Html.PartialAsync("_dateTableScriptPartial", 5)

}
