@model mdlCustomerMasterWraper
@inject ICurrentUsers _currentUser
@inject B2BClasses.IMasters _master
@using B2BClasses.Services.Enums
@{
    ViewData["Title"] = enmDocumentMaster.CustomerDetail.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="user-profile-2" class="user-profile">
    @if (_currentUser.CustomerType == enmCustomerType.Admin)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title">Search Flight</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <form action="@Url.Action()" method="post">
                                @Html.AntiForgeryToken()
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row">
                                    <div class="form-group col-md-6">

                                        <div class="row">
                                            <label for="Adult" class="col-sm-3">Adult</label>
                                            <div class="col-sm-9">
                                                <div class="form-group">
                                                    <select id="Adult" asp-for="CustomerId" class="select2 form-control" data-placeholder="Customer">
                                                        @foreach (var cm in Model.CustomerMasterList)
                                                        {
                                                            <option value="@cm.Key ">@cm.Value</option>

                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <button class="btn btn-info" type="submit">
                                            <i class="ace-icon fa fa-search bigger-110"></i>
                                            Load Data
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <form action="@Url.Action()" method="post">
            <input asp-for="CustomerId" type="hidden" />
        </form>
    }


    <div class="space-20"></div>
    <div class="tabbable">
        <ul class="nav nav-tabs padding-18">
            @if (Model.customerMaster != null)
            {
                <li class="active">
                    <a data-toggle="tab" href="#customerDetails_customerMaster">
                        <i class="green ace-icon fa fa-university bigger-120"></i>
                        Profile
                    </a>
                </li>
            }
            @if (Model.GSTDetails != null)
            {
                <li>
                    <a data-toggle="tab" href="#customerDetails_GSTDetails">
                        <i class="orange ace-icon fa fa-rss bigger-120"></i>
                        GST
                    </a>
                </li>
            }

            @if (Model.banks != null)
            {
                <li>
                    <a data-toggle="tab" href="#customerDetails_banks">
                        <i class="orange ace-icon fa fa-building bigger-120"></i>
                        Bank
                    </a>
                </li>
            }
            @if (Model.userMaster != null)
            {
                <li>
                    <a data-toggle="tab" href="#customerDetails_userMaster">
                        <i class="green ace-icon fa fa-user bigger-120"></i>
                        Users
                    </a>
                </li>
            }

            @if (Model.customerSetting != null)
            {
                <li>
                    <a data-toggle="tab" href="#customerDetails_customerSetting">
                        <i class="orange ace-icon fa fa-cog bigger-120"></i>
                        Setting
                    </a>
                </li>

            }
        </ul>

        <div class="tab-content no-border padding-24">
            @if (Model.customerMaster != null)
            {

                <div id="customerDetails_customerMaster" class="tab-pane in active">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 center">
                            <div class="space-20"></div>
                            <span class="profile-picture">
                                <img class="editable img-responsive" alt="log" id="avatar2" src="@string.Format("data:image/ico;base64,{0}", Convert.ToBase64String(Model.LogoData))" />
                            </span>

                            <div class="space space-4"></div>

                            <a href="#" class="btn btn-sm btn-block btn-success">
                                <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                                <span class="bigger-110">Change Logo</span>
                            </a>

                            <a href="#" class="btn btn-sm btn-block btn-primary">
                                <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                                <span class="bigger-110">Edit Details</span>
                            </a>
                        </div><!-- /.col -->

                        <div class="col-xs-12 col-sm-9">
                            <h4 class="blue">
                                <span class="middle">@Model.customerMaster.Code</span>
                                @if (Model.customerMaster.IsActive)
                                {
                                    <span class="label label-success arrowed-in-right">
                                        <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                                        Active
                                    </span>
                                }
                                else
                                {
                                    <span class="label label-danger arrowed-in-right">
                                        <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                                        De-Active
                                    </span>
                                }


                            </h4>

                            <div class="profile-user-info">
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Customer Name</div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-university light-blue bigger-110"></i>
                                        <span>@Model.customerMaster.CustomerName</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Email</div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-envelope light-orange bigger-110"></i>
                                        <span>@Model.customerMaster.Email</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Contact</div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-phone light-red bigger-110"></i>
                                        <span>@Model.customerMaster.ContactNo </span>
                                        @if (!string.IsNullOrWhiteSpace(Model.customerMaster.AlternateNo))
                                        {
                                            <span>@Model.customerMaster.AlternateNo </span>
                                        }
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Location </div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                                        <span>@Model.customerMaster.Address</span>
                                        <span>@(_master.FetchStateName(Model.customerMaster.StateId ?? 0))</span>
                                        <span>@(_master.FetchCountryCode(Model.customerMaster.CountryId ?? 0))</span>
                                        <span>Model.customerMaster.PinCode</span>
                                    </div>
                                </div>


                                <div class="profile-info-row">
                                    <div class="col-md-6">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Have GST</div>

                                            <div class="profile-info-value">
                                                <span>@Model.customerMaster.HaveGST</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> GST Number</div>

                                            <div class="profile-info-value">
                                                <span>@Model.GSTDetails?.GstNumber</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Pan</div>

                                    <div class="profile-info-value">
                                        <span>@Model.pan?.PANNo</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Name on Pan</div>

                                    <div class="profile-info-value">
                                        <span>@Model.pan?.PANName</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Last Modifed Dt </div>

                                    <div class="profile-info-value">
                                        <span>@Model.customerMaster.ModifyDt.ToString("dd-MMM-yyyy hh:mm tt")</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Last Login </div>

                                    <div class="profile-info-value">
                                        <span>@(Model.userMaster?.lastLogin.ToString("dd-MMM-yyyy hh:mm tt") ?? "-")</span>
                                    </div>
                                </div>
                            </div>

                            <div class="hr hr-8 dotted"></div>


                        </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="space-20"></div>

                </div><!-- /#home -->
            }
            @if (Model.GSTDetails != null)
            {
                <div id="customerDetails_GSTDetails" class="tab-pane">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8  col-sm-offset-2">

                            <div class="profile-user-info">
                                <div class="profile-info-row">
                                    <div class="profile-info-name">GST Number</div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-university light-blue bigger-110"></i>
                                        <span>@Model.GSTDetails.GstNumber</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Registered Name</div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-university light-blue bigger-110"></i>
                                        <span>@Model.GSTDetails.RegisteredName</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Email</div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-envelope light-orange bigger-110"></i>
                                        <span>@Model.GSTDetails.Email</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Contact</div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-phone light-red bigger-110"></i>
                                        <span>@Model.GSTDetails.Mobile</span>

                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Location </div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                                        <span>@Model.GSTDetails.Address</span>
                                        <span>@( _master.FetchStateName(Model.GSTDetails.StateId ?? 0))</span>
                                        <span>@( _master.FetchCountryCode(Model.GSTDetails.CountryId ?? 0))</span>
                                        <span>Model.GSTDetails.PinCode</span>
                                    </div>
                                </div>






                            </div>
                            <div class="hr hr-8 dotted"></div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.banks != null)
            {
                <div id="customerDetails_banks" class="tab-pane">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8  col-sm-offset-2">

                            <div class="profile-user-info">
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Bank</div>
                                    <div class="profile-info-value">
                                        <i class="fa fa-university light-blue bigger-110"></i>
                                        <span>@(_master.FetchBankName( Model.banks.BankId))</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">IFSC</div>

                                    <div class="profile-info-value">
                                        <span>@Model.banks.IFSC </span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Account</div>

                                    <div class="profile-info-value">
                                        <span>@Model.banks.AccountNo</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Beneficiary Name</div>

                                    <div class="profile-info-value">
                                        <span>@Model.banks.NameasonBank</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Branch Address</div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                                        <span>@Model.banks.BranchAddress</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> UPI ID</div>
                                    <div class="profile-info-value">
                                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                                        <span>@Model.banks.UpiId</span>
                                    </div>
                                </div>

                            </div>
                            <div class="hr hr-8 dotted"></div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.userMaster != null)
            {
                <div id="customerDetails_userMaster" class="tab-pane">
                    <div class="profile-feed row">

                        @foreach (var usr in Model.AllUserList)
                        {
                            <div class="col-sm-6">
                                <div class="profile-activity clearfix">
                                    <div>
                                        <img class="pull-left" alt="user Image" src="~/assets/images/avatars/avatar5.png" />
                                        <a class="user" href="#"> @usr.UserName </a>
                                        @usr.Email

                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            @(usr.IsActive?"Active":"De Active")
                                        </div>
                                    </div>
                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        @*<a href="#" class="red">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                            </a>*@
                                    </div>
                                </div>
                            </div><!-- /.col -->
                        }




                    </div><!-- /.row -->

                    <div class="space-12"></div>

                    <div class="center">
                        <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
                            <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
                            <span class="bigger-110">Create New User</span>

                            <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div><!-- /#feed -->
            }
            @if (Model.customerSetting != null)
            {
                <div id="customerDetails_customerSetting" class="tab-pane">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8  col-sm-offset-2">

                            <div class="profile-user-info">
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Allowed IP</div>
                                    <div class="profile-info-value">
                                        <span>@( Model.customerSetting.AllowedAllIp?"All IP": Model.customerSetting.IPAddess)</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Markup Amount</div>

                                    <div class="profile-info-value">
                                        <span>@Model.customerSetting.MarkupAmount </span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Wallet Alert Amt</div>

                                    <div class="profile-info-value">
                                        <span>@Model.customerSetting.MinBalance</span>
                                    </div>
                                </div>


                            </div>
                            <div class="hr hr-8 dotted"></div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
