@model mdlCustomerMasterWraper
@inject ICurrentUsers _currentUser
@inject B2BClasses.IMasters _master
@using B2BClasses.Services.Enums
@{
    ViewData["Title"] = enmDocumentMaster.CustomerMaster.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="user-profile-3" class="user-profile row">
    <div class="col-sm-offset-1 col-sm-10">
        <!--<div class="well well-sm">-->
        <!-- -
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        &nbsp; -->
        <!--<div class="inline middle blue bigger-110"> Your profile is 70% complete </div>

            &nbsp; &nbsp; &nbsp;
            <div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active pos-rel">
                <div class="progress-bar progress-bar-success" style="width:70%"></div>
            </div>
        </div>-->
        <!-- /.well -->

        <div class="space"></div>

        <form class="form-horizontal" action="@Url.Action()" method="post" enctype="multipart/form-data">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-16">
                    <li class="active">
                        <a data-toggle="tab" href="#edit-basic">
                            <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                            Basic Info
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#edit-settings">
                            <i class="purple ace-icon fa fa-cog bigger-125"></i>
                            Settings
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#edit-password">
                            <i class="blue ace-icon fa fa-key bigger-125"></i>
                            Password
                        </a>
                    </li>
                </ul>

                <div class="tab-content profile-edit-tab-content">
                    <div id="edit-basic" class="tab-pane in active">

                        @if (Model.customerMaster != null)
                        {
                            <h4 class="header blue bolder smaller">General</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="customerMaster.Code" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="customerMaster.Code" class="form-control" />
                                            <span asp-validation-for="customerMaster.Code" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="customerMaster.CustomerName" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="customerMaster.CustomerName" class="form-control" />
                                            <span asp-validation-for="customerMaster.Code" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="customerMaster.Email" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="email" asp-for="customerMaster.Email" class="form-control" />
                                            <span asp-validation-for="customerMaster.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="customerMaster.ContactNo" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="customerMaster.ContactNo" class="form-control" />
                                            <span asp-validation-for="customerMaster.ContactNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="customerMaster.AlternateNo" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="email" asp-for="customerMaster.AlternateNo" class="form-control" />
                                            <span asp-validation-for="customerMaster.AlternateNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="customerMaster.Address" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="customerMaster.Address" class="form-control" />
                                            <span asp-validation-for="customerMaster.Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="customerMaster.CountryId" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <select id="selectAddressCountry" asp-for="customerMaster.CountryId" class="form-control select2" asp-items="@ViewBag.CountryList">
                                            </select>
                                            <span asp-validation-for="customerMaster.CountryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="customerMaster.StateId" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <select id="selectAddressState" asp-for="customerMaster.StateId" class="form-control select2" asp-items="@ViewBag.StateList">
                                            </select>
                                            <span asp-validation-for="customerMaster.StateId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="customerMaster.PinCode" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="customerMaster.PinCode" class="form-control" />
                                            <span asp-validation-for="customerMaster.PinCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="customerMaster.IsActive" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <label class="input-group-addon input-group-addon-custom">
                                                <input id="cboxIsAllFlightClass" class="ace ace-switch" type="checkbox" asp-for="customerMaster.IsActive" />
                                                <span class="lbl" data-lbl="Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;no"></span>
                                            </label>
                                            <span asp-validation-for="customerMaster.IsActive" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Logo" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <div class="custom-file">
                                                <input asp-for="Logo" class="custom-file-input" accept="image/ico" />
                                                <label class="custom-file-label" asp-for="Logo">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @if (Model.LogoData != null)
                                        {
                                            <div class="form-group col-md-4">
                                                <img src="@string.Format("data:image/ico;base64,{0}", Convert.ToBase64String(Model.LogoData))" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        }

                        @if (Model.pan != null)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="pan.PANNo" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="email" asp-for="pan.PANNo" class="form-control" />
                                            <span asp-validation-for="pan.PANNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="pan.PANName" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="pan.PANName" class="form-control" />
                                            <span asp-validation-for="pan.PANName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (Model.GSTDetails != null)
                        {
                            <div class="space"></div>
                            <h4 class="header blue bolder smaller">GST Details</h4>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="customerMaster.HaveGST" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <label class="input-group-addon input-group-addon-custom">
                                                <input id="cboxIsAllFlightClass" class="ace ace-switch" type="checkbox" asp-for="customerMaster.HaveGST" />
                                                <span class="lbl" data-lbl="Yes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;no"></span>
                                            </label>
                                            <span asp-validation-for="customerMaster.HaveGST" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="GSTDetails.GstNumber" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="GSTDetails.GstNumber" class="form-control" />
                                            <span asp-validation-for="GSTDetails.GstNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="GSTDetails.RegisteredName" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="GSTDetails.RegisteredName" class="form-control" />
                                            <span asp-validation-for="GSTDetails.RegisteredName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="GSTDetails.Email" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="email" asp-for="GSTDetails.Email" class="form-control" />
                                            <span asp-validation-for="GSTDetails.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="GSTDetails.Mobile" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="GSTDetails.Mobile" class="form-control" />
                                            <span asp-validation-for="GSTDetails.Mobile" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="GSTDetails.CountryId" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <select id="selectAddressCountry" asp-for="GSTDetails.CountryId" class="form-control select2" asp-items="@ViewBag.CountryList">
                                            </select>
                                            <span asp-validation-for="GSTDetails.CountryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="GSTDetails.StateId" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <select id="selectGSTState" asp-for="GSTDetails.StateId" class="form-control select2" asp-items="@ViewBag.GStStateList">
                                            </select>
                                            <span asp-validation-for="GSTDetails.StateId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="GSTDetails.PinCode" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="GSTDetails.PinCode" class="form-control" />
                                            <span asp-validation-for="GSTDetails.CountryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        }


                        @if (Model.banks != null)
                        {
                            <div class="space"></div>
                            <h4 class="header blue bolder smaller">Bank Details</h4>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="banks.BankId" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <select id="selectAddressCountry" asp-for="banks.BankId" class="form-control select2" asp-items="@ViewBag.BankList">
                                            </select>
                                            <span asp-validation-for="banks.BankId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="banks.IFSC" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="banks.IFSC" class="form-control" />
                                            <span asp-validation-for="banks.IFSC" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="banks.AccountNo" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="banks.AccountNo" class="form-control" />
                                            <span asp-validation-for="banks.AccountNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="banks.NameasonBank" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="banks.NameasonBank" class="form-control" />
                                            <span asp-validation-for="banks.NameasonBank" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="banks.BranchAddress" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="banks.BranchAddress" class="form-control" />
                                            <span asp-validation-for="banks.BranchAddress" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="banks.UpiId" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="banks.UpiId" class="form-control" />
                                            <span asp-validation-for="banks.UpiId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        }

                    </div>


                    @if (Model.customerSetting != null)
                    {
                <div id="edit-settings" class="tab-pane">
                    <div class="space-10"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="customerSetting.AllowedAllIp" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <label class="input-group-addon input-group-addon-custom">
                                            <input id="cboxIsAllProvider" class="ace ace-switch" type="checkbox" asp-for="customerSetting.AllowedAllIp">
                                            <span class="lbl" data-lbl="ALL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SELECT"></span>
                                        </label>
                                        <input type="text" asp-for="customerSetting.IPAddess" class="form-control" />
                                    </div>
                                    <span asp-validation-for="customerSetting.AllowedAllIp" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="customerSetting.MarkupAmount" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="customerSetting.MarkupAmount" class="form-control" />
                                    <span asp-validation-for="customerSetting.MarkupAmount" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="customerSetting.MinBalance" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="customerSetting.MinBalance" class="form-control" />
                                    <span asp-validation-for="customerSetting.MinBalance" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>





                <div id="edit-password" class="tab-pane">
                    <div class="space-10"></div>

                    <input type="hidden" asp-for="customerSetting.MPin" class="form-control" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">Mpin</label>
                        <div class="col-sm-9">
                            <input type="password" asp-for="NewMpin" class="form-control" />
                            <span asp-validation-for="NewMpin" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">Confirm MPin</label>

                        <div class="col-sm-9">
                            <input type="password" asp-for="ConfirmNewMpin" class="form-control" />
                            <span asp-validation-for="ConfirmNewMpin" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                    }
                    </div>
            </div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Save
                    </button>

                    &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div><!-- /.span -->
</div><!-- /.user-profile -->
