@model mdlCustomerMarkup
@using B2BClasses.Services.Enums

@{
    ViewData["Title"] = enmDocumentMaster.Markup.GetDocumentDetails().Name;
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}

<div class="content">
    <div class="bg-primary pt-4 pb-5">
        <div class="container">
            <div class="bg-white shadow-md rounded p-3">

            
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">

                        <form action="@Url.Action()" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">@ViewData["Title"]</h4>
                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="CustomerID"></label>

                                                    <select asp-for="CustomerID" class="form-control select2" asp-items="ViewBag.CustomerCodeList">
                                                    </select>
                                                    <span asp-validation-for="CustomerID" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="MarkupValue"></label>
                                                    <input asp-for="MarkupValue" class="form-control" placeholder="Markup Value" />
                                                    <span asp-validation-for="MarkupValue" class="text-danger"></span>

                                                </div>
                                            </div>


                                        </div>

                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>

                                        <input type="hidden" asp-for="markupid" />

                                    </div>
                                </div>

                            </div>
                        </form>


                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary card-outline card-outline-tabs">

                            <div class="card-body">
                                <table id="tblCustomerMarkUpDetails" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Edit</th>
                                            @*<th>Customer Name</th>*@
                                            <th>MarkUp Value</th>
                                            @*<th>Created By</th>*@
                                            <th>Created DateTime</th>
                                            @*<th>Last Modified By</th>*@
                                            <th>Last Modified DateTime</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @for (int i = 0; i < (Model.MarkupData?.Count ?? 0); i++)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="/Customer/CustomerMarkUp/1" class="btn btn-primary" data-toggle="tooltip" title="Edit Record !">
                                                        Edit
                                                    </a>
                                                </td>

                                                @*<td>@Model.MarkupData[i].tblCustomerMaster.CustomerName (@Model.MarkupData[i].tblCustomerMaster.Code)</td>*@
                                                <td>@Model.MarkupData[i].MarkupAmt</td>
                                                @*<td>@Model.MarkupData[i].CreatedBy</td>*@
                                                <td>@(Model.MarkupData[i].CreatedDt.ToString("dd-MMM-yyyy hh:mm tt"))</td>
                                                @*<td>@Model.MarkupData[i].ModifiedBy</td>*@
                                                <td>@(Model.MarkupData[i].ModifiedDt?.ToString("dd-MMM-yyyy hh:mm tt"))</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tblCustomerMarkUpDetails").DataTable({ "ajax": null });
        });
    </script>
}
