@model B2BClasses.Database.tblFlightBookingMaster
@inject ICurrentUsers _currentUser
@using B2BClasses.Services.Enums
@{
    ViewData["Title"] = enmDocumentMaster.Booking_Flight_Details.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="user-profile-2" class="user-profile">
    <div class="space-20"></div>
    <div class="tabbable">
        <ul class="nav nav-tabs padding-18">
            <li class="active">
                <a data-toggle="tab" href="#flightBookingDetails_Basic">
                    <i class="green ace-icon fa fa-university bigger-120"></i>
                    Basic
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#flightBookingDetails_Passenger">
                    <i class="purple ace-icon fa fa-user bigger-120"></i>
                    Passenger
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#flightBookingDetails_FareDetails">
                    <i class="green ace-icon fa fa-dollar bigger-120"></i>
                    Fare Details
                </a>
            </li>
            @if (_currentUser.CustomerType == enmCustomerType.Admin)
            {
                <li>
                    <a data-toggle="tab" href="#flightBookingDetails_PurchaseFareDetails">
                        <i class="blue ace-icon fa fa-rss bigger-120"></i>
                        Purchase Fare
                    </a>
                </li>
            }
           
                <li>
                    <a data-toggle="tab" href="#flightBookingDetails_CancelFlight">
                        <i class="red ace-icon fa fa-cog bigger-120"></i>
                        Cancel Flight
                    </a>
                </li>
           

        </ul>

        <div class="tab-content profile-edit-tab-content">
            <div id="flightBookingDetails_Basic" class="tab-pane in active">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <h4 class="blue">
                            <span class="middle">Status</span>
                            <span class="label @(Model.BookingStatus == enmBookingStatus.Booked ? "label-success" :
Model.BookingStatus == enmBookingStatus.Refund ? "label-danger" : Model.BookingStatus == enmBookingStatus.PartialBooked ? "label-warning" : "label-info" ) arrowed-in-right">
                                <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                                @Model.BookingStatus
                            </span>
                        </h4>

                        <div class="profile-user-info">
                            <div class="profile-info-row">
                                <div class="profile-info-name">Customer Name</div>

                                <div class="profile-info-value">
                                    <i class="fa fa-user light-orange bigger-110"></i>
                                    <span>@Model.CustomerName</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Passenger Count</div>
                                <div class="profile-info-value">
                                    <span>Adult - @Model.AdultCount</span>
                                    <span>Child - @Model.ChildCount</span>
                                    <span>Infant - @Model.InfantCount</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Journey Type</div>
                                <div class="profile-info-value">
                                    <i class="fa fa-shopping-bag light-red bigger-110"></i>
                                    <span>@Model.JourneyType</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Contact No</div>
                                <div class="profile-info-value">
                                    <i class="fa fa-phone light-orange bigger-110"></i>
                                    <span>@Model.ContactNo</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Email</div>
                                <div class="profile-info-value">
                                    <i class="fa fa-envelope light-orange bigger-110"></i>
                                    <span>@Model.Email</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Transaction Date</div>
                                <div class="profile-info-value">
                                    <i class="fa fa-calendar light-blue bigger-110"></i>
                                    <span>@Model.CreatedDt.ToString("dd-MMM-yyyy hh:mm tt")</span>
                                </div>
                            </div>
                            @foreach (var fbs in Model.tblFlightBookingSegmentMaster.OrderBy(p => p.SegmentDisplayOrder))
                            {
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> @string.Concat(fbs.Origin, " - " + fbs.Destination)</div>
                                    <div class="profile-info-value">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Travel Date</div>
                                            <div class="profile-info-value">
                                                <span>@fbs.TravelDt.ToString()</span>
                                                <span class="label @(fbs.BookingStatus == enmBookingStatus.Booked ? "label-success" :
fbs.BookingStatus == enmBookingStatus.Refund ? "label-danger" : fbs.BookingStatus == enmBookingStatus.PartialBooked ? "label-warning" : "label-info" ) arrowed-in-right">
                                                    <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                                                    @fbs.BookingStatus
                                                </span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Booking Id</div>
                                            <div class="profile-info-value">
                                                <span>@(fbs.BookingId.Split("_")?.Length>=2? @fbs.BookingId.Split("_")?[1]:"")</span>
                                                @if (_currentUser.CustomerType == enmCustomerType.Admin)
                                                {
                                            <span class="label label-warning ">                                                
                                                @fbs.ServiceProvider
                                            </span>
                                                }
                                            </div>
                                        </div>


                                        @foreach (var fbd in Model.tblFlightBookingSegments.Where(p => p.SegmentDisplayOrder == fbs.SegmentDisplayOrder).OrderBy(p => p.TripIndicator))
                                        {
                                            <div class="col-sm-6">
                                                <div class="profile-activity clearfix">
                                                    <div>
                                                        <img class="pull-left" alt="user Image" src="~/AirlinesLogo/@(fbd.AirlineCode).png" />
                                                        <a class="user" href="#"> @string.Concat(fbd.Airline, " - ", fbd.FlightNumber) </a>

                                                        <div class="profile-info-row">
                                                            <div class="profile-info-value">
                                                                <span>@string.Concat(fbd.Origin, "-", fbd.Destination)</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-info-row">
                                                            <div class="profile-info-value">
                                                                <i class="ace-icon fa fa-book bigger-110"></i>
                                                                <span>Departure: @fbd.DepartureTime.ToString("dd-MMM-yyyy HH:mm") </span>
                                                                <span>Arrival : @fbd.ArrivalTime.ToString("dd-MMM-yyyy HH:mm")</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-info-row">
                                                            <div class="profile-info-value">
                                                                <span>Cabin Class: @fbd.CabinClass </span>
                                                                <span>Booking Class : @fbd.ClassOfBooking</span>
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div><!-- /.col -->
                                        }


                                    </div>
                                </div>
                            }




                            <div class="hr hr-8 dotted"></div>


                        </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="space-20"></div>
                </div><!-- /#home -->

            </div>

            <div id="flightBookingDetails_Passenger" class="tab-pane">

                <div class="row">
                    <div class="col-xs-12 col-md-8  col-md-offset-2">
                        <div class="profile-feed row">
                            @foreach (var pas in Model.tblFlightBookingPassengerDetails.Distinct())
                            {
                                <div class="col-sm-6">
                                    <div class="profile-activity clearfix">
                                        <div>
                                            @if (pas.passengerType == enmPassengerType.Adult)
                                            {
                                                if (pas.Title.ToLower().Contains("mr"))
                                                {
                                                    <img class="pull-left" alt="user Image" src="~/assets/images/avatars/avatar.png" />
                                                }
                                                else
                                                {
                                                    <img class="pull-left" alt="user Image" src="~/assets/images/avatars/avatar1.png" />
                                                }

                                            }
                                            else if (pas.passengerType == enmPassengerType.Child)
                                            {
                                                <img class="pull-left" alt="user Image" src="~/assets/images/avatars/Child-2.png" />
                                            }
                                            else if (pas.passengerType == enmPassengerType.Infant)
                                            {
                                                <img class="pull-left" alt="user Image" src="~/assets/images/avatars/baby-2.png" />
                                            }


                                            <a class="user" href="#"> @string.Join(pas.Title, pas.FirstName + " " + pas.LastName) </a>

                                            @if (pas.dob != null)
                                            {

                                                <div class="time">
                                                    <i class="ace-icon fa fa-calendar bigger-110"></i>
                                                    DOB: @(pas.dob.Value.ToString("dd-MMM-yyyy"))
                                                </div>

                                            }

                                            @if (pas.pNum != null)
                                            {
                                                <div class="time">

                                                    <i class="ace-icon fa fa-book bigger-110"></i>
                                                    <span>Passport No: @pas.pNum</span>
                                                    <span>Issue Dt: @pas.PassportIssueDate?.ToString("dd-MMM-yyyy")></span>
                                                    <span>Expiry Dt: @pas.PassportExpiryDate?.ToString("dd-MMM-yyyy")</span>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div><!-- /.col -->
                            }

                        </div>


                        <div class="hr hr-8 dotted"></div>
                    </div>
                </div>
                <div class="space-10"></div>
                <div class="row">
                    <div class="col-xs-12">
                        @{
                            var GST = Model.tblFlightBookingGSTDetails?.FirstOrDefault();
                        }
                        @if (GST != null && !String.IsNullOrWhiteSpace(GST?.gstNumber))
                        {
                            <h4 class="header blue bolder smaller">GST Details</h4>
                            <div class="profile-user-info">
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Register Name</div>
                                    <div class="profile-info-value">
                                        <i class="fa fa-user light-blue bigger-110"></i>
                                        <span>@GST.registeredName</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">GST Number</div>
                                    <div class="profile-info-value">
                                        <i class="fa fa-university light-blue bigger-110"></i>
                                        <span>@GST.gstNumber</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Email</div>
                                    <div class="profile-info-value">
                                        <i class="fa fa-envelope light-orange bigger-110"></i>
                                        <span>@GST.email</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Contact</div>
                                    <div class="profile-info-value">
                                        <i class="fa fa-phone light-red bigger-110"></i>
                                        <span>@GST.mobile</span>

                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Location </div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                                        <span>@GST.address</span>
                                    </div>
                                </div>


                            </div>
                        }
                        <div class="hr hr-8 dotted"></div>
                    </div>
                </div>
            </div>

            <div id="flightBookingDetails_FareDetails" class="tab-pane">

                <div class="row">
                    <div class="col-xs-12 col-sm-8  col-sm-offset-2">


                        @foreach (var price in Model.tblFlightBookingFareDetails)
                        {
                            <h4 class="header blue bolder smaller">@price.SegmentName</h4>
                            <div class="profile-user-info">
                                @if (_currentUser.CustomerType == enmCustomerType.Admin)
                                {
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Base Fare</div>
                                        <div class="profile-info-value">
                                            <span>Adult : @price.AdultBaseFare.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Child : @price.ChildBaseFare.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Infant : @price.InfantBaseFare.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Total : @((price.AdultBaseFare + price.ChildBaseFare + price.InfantBaseFare).ToString("C", _currentUser.cultureInfo) )</span>
                                            <span class="red bolder">Customer base fare include markup </span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Base Fare</div>
                                        <div class="profile-info-value">
                                            <span>Adult : @((price.AdultBaseFare+ price.WingAdultMarkup).ToString("C", _currentUser.cultureInfo)) </span>
                                            <span>Child : @((price.ChildBaseFare+ price.WingChildMarkup).ToString("C", _currentUser.cultureInfo)) </span>
                                            <span>Infant : @((price.InfantBaseFare+ price.InfantBaseFare).ToString("C", _currentUser.cultureInfo)) </span>
                                            <span>Total : @(((price.AdultBaseFare + price.ChildBaseFare + price.InfantBaseFare)+ price.WingTotalMarkup).ToString("C", _currentUser.cultureInfo))</span>
                                            <span class="red bolder smaller">In customer Login ,basefare include markup </span>
                                        </div>
                                    </div>
                                }


                                @if (_currentUser.CustomerType == enmCustomerType.Admin)
                                {
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Wing Markup </div>
                                        <div class="profile-info-value">
                                            <span>Adult : @price.WingAdultMarkup.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Child : @price.WingChildMarkup.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Infant : @price.WingInfantMarkup.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Total : @price.WingTotalMarkup.ToString("C", _currentUser.cultureInfo) </span>
                                        </div>
                                    </div>
                                }

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Customer Markup</div>
                                    <div class="profile-info-value">
                                        <span>@price.CustomerMarkup.ToString("C", _currentUser.cultureInfo) </span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Total Fare</div>
                                    <div class="profile-info-value">
                                        <span>@price.TotalFare.ToString("C", _currentUser.cultureInfo)</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Discount</div>
                                    <div class="profile-info-value">
                                        <span>@price.Discount.ToString("C", _currentUser.cultureInfo)</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Convenience</div>
                                    <div class="profile-info-value">
                                        <span>@price.convenience.ToString("C", _currentUser.cultureInfo)</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Net</div>
                                    <div class="profile-info-value">
                                        <span>@price.NetFare.ToString("C", _currentUser.cultureInfo)</span>
                                    </div>
                                </div>
                            </div>

                        }

                        @if ((Model?.tblFlightBookingFareDetails?.Count ?? 0) > 1)
                        {
                            <div class="space-10"></div>
                            <h4 class="red bolder smaller">Total Net: @Model.tblFlightBookingFareDetails.Select(p=>p.NetFare).Sum().ToString("C",_currentUser.cultureInfo)</h4>

                        }

                        <div class="hr hr-8 dotted"></div>
                    </div>
                        </div>
            </div>

         @if (_currentUser.CustomerType == enmCustomerType.Admin)
        {
            <div id="flightBookingDetails_PurchaseFareDetails" class="tab-pane">
                <div class="row">
                    <div class="col-xs-12 col-sm-10  col-sm-offset-1">
                        <div id="accordion" class="accordion-style2">
                            @foreach (var md in Model.tblFlightBookingSegmentMaster)
                            {
                            <div class="group">
                                <h3 class="accordion-header">@(string.Concat(md.Origin ," - ",md.Destination))</h3>
                                <div class="col-xs-12">
                                    @foreach (var mdt in Model.tblFlightBookingFarePurchaseDetails.Where(p => p.SegmentDisplayOrder == md.SegmentDisplayOrder))
                                    {
                                    <div class="profile-user-info">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Service Provider</div>
                                            <div class="profile-info-value">
                                                <span>@(mdt.Provider.ToString())</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Adult BaseFare</div>
                                            <div class="profile-info-value">
                                                <span>@(mdt.AdultBaseFare.ToString("C",_currentUser.cultureInfo))</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Child BaseFare</div>
                                            <div class="profile-info-value">
                                                <span>@(mdt.ChildBaseFare.ToString("C",_currentUser.cultureInfo))</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Infant BaseFare</div>
                                            <div class="profile-info-value">
                                                <span>@(mdt.InfantBaseFare.ToString("C",_currentUser.cultureInfo))</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Adult TotalFare</div>
                                            <div class="profile-info-value">
                                                <span>@(mdt.AdultTotalFare.ToString("C",_currentUser.cultureInfo))</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Child TotalFare</div>
                                            <div class="profile-info-value">
                                                <span>@(mdt.ChildTotalFare.ToString("C",_currentUser.cultureInfo))</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Infant TotalFare</div>
                                            <div class="profile-info-value">
                                                <span>@(mdt.InfantTotalFare.ToString("C",_currentUser.cultureInfo))</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Adult NetFare</div>
                                            <div class="profile-info-value">
                                                <span>@(mdt.AdultNetFare.ToString("C",_currentUser.cultureInfo))</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Child NetFare</div>
                                            <div class="profile-info-value">
                                                <span>@(mdt.ChildNetFare.ToString("C",_currentUser.cultureInfo))</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Infant NetFare</div>
                                            <div class="profile-info-value">
                                                <span>@(mdt.InfantNetFare.ToString("C",_currentUser.cultureInfo))</span>
                                            </div>
                                        </div>


                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Total Net Fare</div>

                                            <div class="profile-info-value">
                                                <span class="bolder red">@(mdt.NetFare.ToString("C",_currentUser.cultureInfo))</span>
                                            </div>
                                        </div>

                                        
                                    </div>
                                        <div class="hr hr-8 dotted"></div>
                                    }


                                </div>
                            </div>
                             }
                        </div>

                     </div>
                 </div>
            </div>
        }
        

            <div id="flightBookingDetails_CancelFlight" class="tab-pane">

                <div class="row">
                    <div class="col-xs-12 col-sm-8  col-sm-offset-2">
                        @if (_currentUser.HaveClaim(enmDocumentMaster.Booking_Flight_Cancel))
                        {
                        <form method="post" action="/Home/FlightCancel">
                            @Html.AntiForgeryToken()

                            @foreach (var md in Model.tblFlightBookingSegmentMaster)
                            {
                                <div class="group">
                                    <h3 class="accordion-header">@(string.Concat(md.Origin ," - ",md.Destination))</h3>
                                    <div class="col-xs-12">
                                        @foreach (var mdt in Model.tblFlightBookingFarePurchaseDetails.Where(p => p.SegmentDisplayOrder == md.SegmentDisplayOrder))
                                        {
                                            <div class="profile-user-info">
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Service Provider</div>
                                                    <div class="profile-info-value">
                                                        <span>@(mdt.Provider.ToString())</span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Adult BaseFare</div>
                                                    <div class="profile-info-value">
                                                        <span>@(mdt.AdultBaseFare.ToString("C",_currentUser.cultureInfo))</span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Child BaseFare</div>
                                                    <div class="profile-info-value">
                                                        <span>@(mdt.ChildBaseFare.ToString("C",_currentUser.cultureInfo))</span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Infant BaseFare</div>
                                                    <div class="profile-info-value">
                                                        <span>@(mdt.InfantBaseFare.ToString("C",_currentUser.cultureInfo))</span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Adult TotalFare</div>
                                                    <div class="profile-info-value">
                                                        <span>@(mdt.AdultTotalFare.ToString("C",_currentUser.cultureInfo))</span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Child TotalFare</div>
                                                    <div class="profile-info-value">
                                                        <span>@(mdt.ChildTotalFare.ToString("C",_currentUser.cultureInfo))</span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Infant TotalFare</div>
                                                    <div class="profile-info-value">
                                                        <span>@(mdt.InfantTotalFare.ToString("C",_currentUser.cultureInfo))</span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Adult NetFare</div>
                                                    <div class="profile-info-value">
                                                        <span>@(mdt.AdultNetFare.ToString("C",_currentUser.cultureInfo))</span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Child NetFare</div>
                                                    <div class="profile-info-value">
                                                        <span>@(mdt.ChildNetFare.ToString("C",_currentUser.cultureInfo))</span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Infant NetFare</div>
                                                    <div class="profile-info-value">
                                                        <span>@(mdt.InfantNetFare.ToString("C",_currentUser.cultureInfo))</span>
                                                    </div>
                                                </div>


                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Total Net Fare</div>

                                                    <div class="profile-info-value">
                                                        <span class="bolder red">@(mdt.NetFare.ToString("C",_currentUser.cultureInfo))</span>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="hr hr-8 dotted"></div>
                                        }


                                    </div>
                                </div>
                            }
                            <div class="hr hr-8 dotted"></div>
                        </form>
                        }
                            <div class="space-20"></div>
                            <table class="table table-striped table-hover">
                                <thead class="thin-border-bottom">
                                    <tr>
                                        <th>Id</th>
                                        <th>
                                            <i class="ace-icon fa fa-suitcase"></i>
                                            Segment
                                        </th>
                                        <th>Departure Date</th>
                                        <th>Cancelation Date</th>
                                        <th>Airline</th>
                                        <th>Flight No</th>
                                        <th>Passenger</th>
                                        <th>Charge</th>
                                        <th>Refund Amount</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var pasenger in Model.tblFlightCancelation)
                                    {
                                        <tr>
                                            <td>@pasenger.amendmentId </td>
                                            <td class="">@( string.Concat(pasenger.src, "-", pasenger.dest)) </td>
                                            <td>@pasenger.date </td>
                                            <td>@(pasenger.CancelDate.ToString("dd-MMM-yyyy")) </td>
                                            <td>@(pasenger.airlines) </td>
                                            <td>@(pasenger.flightNumbers) </td>
                                            <td>@(string.Concat( pasenger.fn, " ", pasenger.ln)) </td>
                                            <td>@(pasenger.amendmentCharges.ToString("C",_currentUser.cultureInfo)) </td>
                                            <td>@(pasenger.refundableamount.ToString("C",_currentUser.cultureInfo)) </td>
                                            <td>@(pasenger.CancelRemarks) </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

</div>
                </div>
            </div>
        


        </div>
    </div>
</div>
    @section Scripts {
        <script type="text/javascript">
            $(function () {
    var selector = '@ViewBag.ActiveTab';
            $("#" + selector).addClass("active");
        });
   </script>

    }
