@model B2BClasses.Database.tblFlightBookingMaster
@inject ICurrentUsers _currentUser
@using B2BClasses.Services.Enums
@{
    ViewData["Title"] = enmDocumentMaster.Booking_Flight_Details.GetDocumentDetails().Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="user-profile-2" class="user-profile">
    <div class="space-20"></div>
    <div class="tabbable">
        <ul class="nav nav-tabs padding-18">
            <li class="active">
                <a data-toggle="tab" href="#flightBookingDetails_Basic">
                    <i class="green ace-icon fa fa-university bigger-120"></i>
                    Basic
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#flightBookingDetails_Passenger">
                    <i class="purple ace-icon fa fa-user bigger-120"></i>
                    Passenger
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#flightBookingDetails_FareDetails">
                    <i class="green ace-icon fa fa-dollar bigger-120"></i>
                    Fare Details
                </a>
            </li>
            @if (_currentUser.CustomerType == enmCustomerType.Admin)
            {
                <li>
                    <a data-toggle="tab" href="#flightBookingDetails_PurchaseFareDetails">
                        <i class="blue ace-icon fa fa-rss bigger-120"></i>
                        Purchase Fare
                    </a>
                </li>
            }
            @if (_currentUser.HaveClaim(enmDocumentMaster.Booking_Flight_Cancel))
            {
                <li>
                    <a data-toggle="tab" href="#flightBookingDetails_CancelFlight">
                        <i class="red ace-icon fa fa-cog bigger-120"></i>
                        Cancel Flight
                    </a>
                </li>
            }

        </ul>

        <div class="tab-content profile-edit-tab-content">
            <div id="flightBookingDetails_Basic" class="tab-pane in active">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <h4 class="blue">
                            <span class="middle">Status</span>
                            <span class="label @(Model.BookingStatus == enmBookingStatus.Booked ? "label-success" :
Model.BookingStatus == enmBookingStatus.Refund ? "label-danger" : Model.BookingStatus == enmBookingStatus.PartialBooked ? "label-primary" : "label-warning" ) arrowed-in-right">
                                <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                                @Model.BookingStatus
                            </span>
                        </h4>

                        <div class="profile-user-info">
                            <div class="profile-info-row">
                                <div class="profile-info-name">Customer Name</div>

                                <div class="profile-info-value">
                                    <i class="fa fa-user light-orange bigger-110"></i>
                                    <span>@Model.CustomerName</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Passenger Count</div>
                                <div class="profile-info-value">
                                    <span>Adult - @Model.AdultCount</span>
                                    <span>Child - @Model.ChildCount</span>
                                    <span>Infant - @Model.InfantCount</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Journey Type</div>
                                <div class="profile-info-value">
                                    <i class="fa fa-shopping-bag light-red bigger-110"></i>
                                    <span>@Model.JourneyType</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Contact No</div>
                                <div class="profile-info-value">
                                    <i class="fa fa-phone light-orange bigger-110"></i>
                                    <span>@Model.ContactNo</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Email</div>
                                <div class="profile-info-value">
                                    <i class="fa fa-envelope light-orange bigger-110"></i>
                                    <span>@Model.Email</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Transaction Date</div>
                                <div class="profile-info-value">
                                    <i class="fa fa-calendar light-blue bigger-110"></i>
                                    <span>@Model.CreatedDt.ToString("dd-MMM-yyyy hh:mm tt")</span>
                                </div>
                            </div>
                            @foreach (var fbs in Model.tblFlightBookingSegments.OrderBy(p => p.SegmentDisplayOrder))
                            {
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> @string.Concat(fbs.Origin, " - " + fbs.Destination)</div>
                                    <div class="profile-info-value">
                                        <span>@fbs.</span>
                                    </div>
                                </div>
                            }




                            <div class="hr hr-8 dotted"></div>


                        </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="space-20"></div>
                </div><!-- /#home -->

            </div>

            <div id="flightBookingDetails_Passenger" class="tab-pane">

                <div class="row">
                    <div class="col-xs-12 col-md-8  col-md-offset-2">

                        <div class="profile-feed row">
                            @foreach (var pas in Model.tblFlightBookingPassengerDetails.Distinct())
                            {
                                <div class="col-sm-6">
                                    <div class="profile-activity clearfix">
                                        <div>
                                            @if (pas.passengerType == enmPassengerType.Adult)
                                            {
                                                if (pas.Title.ToLower().Contains("mr"))
                                                {
                                                    <img class="pull-left" alt="user Image" src="~/assets/images/avatars/avatar.png" />
                                                }
                                                else
                                                {
                                                    <img class="pull-left" alt="user Image" src="~/assets/images/avatars/avatar1.png" />
                                                }

                                            }
                                            else if (pas.passengerType == enmPassengerType.Child)
                                            {
                                                <img class="pull-left" alt="user Image" src="~/assets/images/avatars/Child-2.png" />
                                            }
                                            else if (pas.passengerType == enmPassengerType.Infant)
                                            {
                                                <img class="pull-left" alt="user Image" src="~/assets/images/avatars/baby-2.png" />
                                            }


                                            <a class="user" href="#"> @string.Join(pas.Title, pas.FirstName + " " + pas.LastName) </a>

                                            @if (pas.dob != null)
                                            {

                                                <div class="time">
                                                    <i class="ace-icon fa fa-calendar bigger-110"></i>
                                                    DOB: @(pas.dob.Value.ToString("dd-MMM-yyyy"))
                                                </div>

                                            }

                                            @if (pas.pNum != null)
                                            {
                                                <div class="time">

                                                    <i class="ace-icon fa fa-book bigger-110"></i>
                                                    <span>Passport No: @pas.pNum</span>
                                                    <span>Issue Dt: @pas.PassportIssueDate?.ToString("dd-MMM-yyyy")></span>
                                                    <span>Expiry Dt: @pas.PassportExpiryDate?.ToString("dd-MMM-yyyy")</span>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div><!-- /.col -->
                            }

                        </div>


                        <div class="hr hr-8 dotted"></div>
                    </div>
                </div>
                <div class="space-10"></div>
                <div class="row">
                    <div class="col-xs-12">
                        @{
                            var GST = Model.tblFlightBookingGSTDetails?.FirstOrDefault();
                        }
                        @if (GST != null && !String.IsNullOrWhiteSpace(GST?.gstNumber))
                        {
                            <h4 class="header blue bolder smaller">GST Details</h4>
                            <div class="profile-user-info">
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Register Name</div>
                                    <div class="profile-info-value">
                                        <i class="fa fa-user light-blue bigger-110"></i>
                                        <span>@GST.registeredName</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">GST Number</div>
                                    <div class="profile-info-value">
                                        <i class="fa fa-university light-blue bigger-110"></i>
                                        <span>@GST.gstNumber</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Email</div>
                                    <div class="profile-info-value">
                                        <i class="fa fa-envelope light-orange bigger-110"></i>
                                        <span>@GST.email</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Contact</div>
                                    <div class="profile-info-value">
                                        <i class="fa fa-phone light-red bigger-110"></i>
                                        <span>@GST.mobile</span>

                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Location </div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                                        <span>@GST.address</span>
                                    </div>
                                </div>


                            </div>
                        }
                        <div class="hr hr-8 dotted"></div>
                    </div>
                </div>
            </div>

            <div id="flightBookingDetails_FareDetails" class="tab-pane">

                <div class="row">
                    <div class="col-xs-12 col-sm-8  col-sm-offset-2">


                        @foreach (var price in Model.tblFlightBookingFareDetails)
                        {
                            <h4 class="header blue bolder smaller">@price.SegmentName</h4>
                            <div class="profile-user-info">
                                @if (_currentUser.CustomerType == enmCustomerType.Admin)
                                {
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Base Fare</div>
                                        <div class="profile-info-value">
                                            <span>Adult : @price.AdultBaseFare.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Child : @price.ChildBaseFare.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Infant : @price.InfantBaseFare.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Total : @((price.AdultBaseFare + price.ChildBaseFare + price.InfantBaseFare).ToString("C", _currentUser.cultureInfo) )</span>
                                            <span class="red bolder">Customer base fare include markup </span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Base Fare</div>
                                        <div class="profile-info-value">
                                            <span>Adult : @((price.AdultBaseFare+ price.WingAdultMarkup).ToString("C", _currentUser.cultureInfo)) </span>
                                            <span>Child : @((price.ChildBaseFare+ price.WingChildMarkup).ToString("C", _currentUser.cultureInfo)) </span>
                                            <span>Infant : @((price.InfantBaseFare+ price.InfantBaseFare).ToString("C", _currentUser.cultureInfo)) </span>
                                            <span>Total : @(((price.AdultBaseFare + price.ChildBaseFare + price.InfantBaseFare)+ price.WingTotalMarkup).ToString("C", _currentUser.cultureInfo))</span>
                                            <span class="red bolder smaller">In customer Login ,basefare include markup </span>
                                        </div>
                                    </div>
                                }


                                @if (_currentUser.CustomerType == enmCustomerType.Admin)
                                {
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">Wing Markup </div>
                                        <div class="profile-info-value">
                                            <span>Adult : @price.WingAdultMarkup.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Child : @price.WingChildMarkup.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Infant : @price.WingInfantMarkup.ToString("C", _currentUser.cultureInfo) </span>
                                            <span>Total : @price.WingTotalMarkup.ToString("C", _currentUser.cultureInfo) </span>
                                        </div>
                                    </div>
                                }

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Customer Markup</div>
                                    <div class="profile-info-value">
                                        <span>@price.CustomerMarkup.ToString("C", _currentUser.cultureInfo) </span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Total Fare</div>
                                    <div class="profile-info-value">
                                        <span>@price.TotalFare.ToString("C", _currentUser.cultureInfo)</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Discount</div>
                                    <div class="profile-info-value">
                                        <span>@price.Discount.ToString("C", _currentUser.cultureInfo)</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Convenience</div>
                                    <div class="profile-info-value">
                                        <span>@price.convenience.ToString("C", _currentUser.cultureInfo)</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Net</div>
                                    <div class="profile-info-value">
                                        <span>@price.NetFare.ToString("C", _currentUser.cultureInfo)</span>
                                    </div>
                                </div>
                            </div>

                        }

                        @if ((Model?.tblFlightBookingFareDetails?.Count ?? 0) > 1)
                        {
                            <div class="space-10"></div>
                            <h4 class="red bolder smaller">Total Net: @Model.tblFlightBookingFareDetails.Select(p=>p.NetFare).Sum().ToString("C",_currentUser.cultureInfo)</h4>

                        }

                        <div class="hr hr-8 dotted"></div>
                    </div>
                        </div>
            </div>

            @*  @if (_currentUser.CustomerType == enmCustomerType.Admin)
        {
            <div id="flightBookingDetails_PurchaseFareDetails" class="tab-pane">

                <div class="row">
                    <div class="col-xs-12 col-sm-8  col-sm-offset-2">

                        <div class="profile-user-info">
                            <div class="profile-info-row">
                                <div class="profile-info-name">Allowed IP</div>
                                <div class="profile-info-value">
                                    <span>@( Model.customerSetting.AllowedAllIp?"All IP": Model.customerSetting.IPAddess)</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">Markup Amount</div>

                                <div class="profile-info-value">
                                    <span>@Model.customerSetting.MarkupAmount </span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Wallet Alert Amt</div>

                                <div class="profile-info-value">
                                    <span>@Model.customerSetting.MinBalance</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Wallet Balance</div>

                                <div class="profile-info-value">
                                    <span>@Model.WalletBalance</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">Credit Balance</div>
                                <div class="profile-info-value">
                                    <span>@Model.CreditBalace</span>
                                </div>
                            </div>


                        </div>
                        <div class="hr hr-8 dotted"></div>
                    </div>
                </div>
            </div>
        }
        @if (_currentUser.HaveClaim(enmDocumentMaster.Booking_Flight_Cancel))
        {

            <div id="flightBookingDetails_CancelFlight" class="tab-pane">

                <div class="row">
                    <div class="col-xs-12 col-sm-8  col-sm-offset-2">

                        <div class="profile-user-info">
                            <div class="profile-info-row">
                                <div class="profile-info-name">Allowed IP</div>
                                <div class="profile-info-value">
                                    <span>@( Model.customerSetting.AllowedAllIp ? "All IP" : Model.customerSetting.IPAddess)</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">Markup Amount</div>

                                <div class="profile-info-value">
                                    <span>@Model.customerSetting.MarkupAmount </span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Wallet Alert Amt</div>

                                <div class="profile-info-value">
                                    <span>@Model.customerSetting.MinBalance</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Wallet Balance</div>

                                <div class="profile-info-value">
                                    <span>@Model.WalletBalance</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">Credit Balance</div>
                                <div class="profile-info-value">
                                    <span>@Model.CreditBalace</span>
                                </div>
                            </div>


                        </div>
                        <div class="hr hr-8 dotted"></div>
                    </div>
                </div>
            </div>
        }*@


        </div>
    </div>

    @section Scripts {
        <script type="text/javascript">
            $(function () {
    var selector = '@ViewBag.ActiveTab';
            $("#" + selector).addClass("active");
        });
   </script>

    }
