@model List<mdlTcMarkUpWraper>

<div class="card-body">
    <table id="tblMarkUpDetails" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="display:none">Edit</th>
                <th>Booking Type</th>
                <th style="width:200px">MarkUp Value</th>
                <th style="width:150px">Request Date</th>
                <th style="width:150px">Modified Date</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>

                    <td style="display:none"><a href="javascript:DoPost(@Model[i].TcId)" data-toggle="tooltip" title="Edit Record !"><i class="nav-icon fas fa-edit"></i></a></td>
                    <td>@Model[i].BookingType</td>
                    <td>@Model[i].MarkUpValue</td>

                    <td>@(Model[i].RequestDate.ToString("dd-MMM-yyyy hh:mm tt"))</td>
                    <td>@(Model[i].ModifiedDate.ToString("dd-MMM-yyyy hh:mm tt"))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
